/******** alert ******/
/*.alert {
    padding: 15px;
    margin-bottom: 18px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.alert-danger, .alert-info, .alert-success, .alert-warning {
    border-color: transparent
}

.alert-danger hr, .alert-info hr, .alert-success hr, .alert-warning hr {
    border-top-color: transparent
}

.alert h4 {
    margin-top: 0;
    color: inherit
}

.alert .alert-link {
    font-weight: 700
}

.alert > p, .alert > ul {
    margin-bottom: 0
}

.alert > p + p {
    margin-top: 5px
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit
}

.alert-success {
    background-color: #4CAF50;
    color: #fff
}

.alert-success .alert-link {
    color: #e6e6e6
}

.alert-info {
    background-color: #2196F3;
    color: #fff
}

.alert-info .alert-link {
    color: #e6e6e6
}

.alert-warning {
    background-color: #FFC107;
    color: #fff
}

.alert-warning .alert-link {
    color: #e6e6e6
}

.alert-danger {
    background-color: #F44336;
    color: #fff
}

.alert-danger .alert-link {
    color: #e6e6e6
}

.alert {
    padding-left: 30px;
    font-size: 13px
}

.alert span {
    cursor: pointer
}

.alert:not(.alert-dismissible) {
    padding-right: 30px
}

.alert.alert-dismissable {
    padding-right: 44px
}*/

.alert {
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 2px;
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: 500;
}

.alert-dismissible .close {
    position: relative;
    top: -1rem;
    right: -1.5rem;
    padding: 1rem 1.5rem;
    color: inherit;
}

.alert-dismissible .close-text {
    position: relative;
    top: -1rem;
    right: -1.5rem;
    padding: 1.2rem 1.5rem;
    color: inherit;
    float: right;
    font-size: 1.0rem;
    font-weight: normal;
    line-height: 1;
    text-shadow: none;
    cursor: pointer;

    opacity: 0.8;
}

.alert-success {
    background-color: #57d59f;
    border-color: #57d59f;
    color: #FFFFFF;
}

.alert-success hr {
    border-top-color: #43d093;
}

.alert-success .alert-link {
    color: #e6e6e6;
}

.alert-info {
    background-color: #2ebcfc;
    border-color: #2ebcfc;
    color: #FFFFFF;
}

.alert-info hr {
    border-top-color: #14b4fc;
}

.alert-info .alert-link {
    color: #e6e6e6;
}

.alert-warning {
    background-color: #f6d05a;
    border-color: #f6d05a;
    color: #FFFFFF;
}

.alert-warning hr {
    border-top-color: #f5c942;
}

.alert-warning .alert-link {
    color: #e6e6e6;
}

.alert-danger {
    background-color: #ff8482;
    border-color: #ff8482;
    color: #FFFFFF;
}

.alert-danger hr {
    border-top-color: #ff6b68;
}

.alert-danger .alert-link {
    color: #e6e6e6;
}

.alert {
    font-weight: 500;
}

[class*="alert-"] .alert-link {
    color: #FFFFFF;
}

.alert-heading {
    font-weight: 400;
    font-size: 1.0rem;
    margin-top: 0.15rem;
}

.alert.with-desc .alert-heading {
    font-size: 1.2rem;
    padding-bottom: 0.3rem;
}

.alert-dismissible .close > span:not(.sr-only) {
    background-color: rgba(255, 255, 255, 0.2);
    line-height: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 1.1rem;
    display: block;
}

.alert-dismissible .close:hover, .alert-dismissible .close:focus {
    color: #FFFFFF;
}

.alert-dismissible .close:hover span:not(.sr-only), .alert-dismissible .close:focus span:not(.sr-only) {
    background-color: rgba(255, 255, 255, 0.3);
}

.close, .close:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.alert-inverse {
    background-color: #333;
    border-color: transparent;
    color: #fff
}

.alert-inverse hr {
    border-top-color: transparent
}

.alert-inverse .alert-link {
    color: #e6e6e6
}

.alert-link {
    color: #fff !important
}

.alert-icon {
    top: 14px;
    left: 16px;
    position: absolute;
    font-size: 16px;
}

.alert.with-icon {
    padding-left: 40px;
    position: relative;
}

.alert .alert-msg {
    font-size: 14px;
    display: block;
}

.alert .alert-desc {
    font-size: 1rem;
    display: block;
}

.alert.with-desc {
    padding-left: 16px;
}

.alert.with-desc.with-icon {
    padding-left:5.0rem;
}

.alert.with-desc .alert-icon {
    top: 50%;
    left: 20px;
    margin-top: -20px;
    font-size: 35px;
}

.alert.notification {
    position: relative;
    border-radius: 5px;
}

.notification-container {
    width: 335px;
    margin-right: 24px;
    position: fixed;
    z-index: 1010;
}

.notification.alert-inverse,
.snackbar.alert-inverse {
    box-shadow: 0 0 5px rgba(51, 51, 51, .5)
}

.notification.alert-info,
.snackbar.alert-info {
    box-shadow: 0 0 5px rgba(33, 150, 243, .5)
}

.notification.alert-success,
.snackbar.alert-success {
    box-shadow: 0 0 5px rgba(76, 175, 80, .5);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}

.notification.alert-warning,
.snackbar.alert-warning {
    box-shadow: 0 0 5px rgba(255, 193, 7, .5)
}

.notification.alert-danger,
.snackbar.alert-danger {
    box-shadow: 0 0 5px rgba(244, 67, 54, .5)
}

.snackbar-container {
    position: fixed;
    width:100%;
    top:0;
    left:0;
    right:0;
    z-index: 1020;
}

.alert.snackbar {
    text-align: center !important;
    padding:16px;
    font-size:16px;
    border-radius: 0;
}

.snackbar.alert-danger,
.snackbar.alert-warning,
.snackbar.alert-info,
.snackbar.alert-success,
.snackbar.alert-inverse {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}

.snackbar .alert-icon {
    position: static;
    display: inline;
    font-size: 20px;
    vertical-align: middle;
}

.snackbar .alert-msg {
    display: initial;
    margin-left:10px;
    font-size: 16px;
}

.snackbar.alert-dismissable {
    padding-right:35px;
}

.snackbar.alert-dismissible .close {
    top:0;
    right:0;
    padding:0;
}

.alert-theme-light.alert {
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    color: inherit;
    background-color: #ffffff;
    position: relative;
    border:none;
}

.alert-theme-light.alert .alert-heading {
    color: #464c5b;
}

.alert-theme-light.alert .alert-desc {
    color: #999;
}

.alert-theme-light.alert:after {
    content: "";
    display: block;
    width: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.alert-theme-light.alert-default:after,
.alert-theme-light.alert-info:after {
    background-color: #2ebcfc;
}

.alert-theme-light.alert-success:after {
    background-color: #57d59f;
}

.alert-theme-light.alert-warning:after {
    background-color: #f6d05a;
}

.alert-theme-light.alert-danger:after {
    background-color: #ff8482;
}

.alert-theme-light.alert-inverse:after {
    background-color: #000000;
}

.alert-theme-light.alert-info .alert-icon {
    color:#2ebcfc;
}
.alert-theme-light.alert-success .alert-icon {
    color:#57d59f;
}
.alert-theme-light.alert-warning .alert-icon {
    color:#f6d05a;
}
.alert-theme-light.alert-danger .alert-icon {
    color:#ff8482;
}

.alert-theme-light.alert-dismissible .close {
    color:#999;
}

.alert-theme-light.alert-dismissible .close:hover {
    color: #444;
}

.alert-dismissible .close > span:not(.sr-only) {
    background-color: transparent;
    font-size: 1.3rem;
    transition: all 0.3s;
}
