.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.card-block {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2.2rem;
}

.card-title {
    margin-bottom: 2rem;
}

.card-subtitle {
    margin-top: -1rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link + .card-link {
    margin-left: 2.2rem;
}

.card > .list-group:first-child .list-group-item:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.card-header {
    padding: 2rem 2.2rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

.card-header:first-child {
    border-radius: 2px 2px 0 0;
}

.card-footer {
    padding: 2rem 2.2rem;
    background-color: transparent;
    border-top: 1px solid transparent;
}

.card-footer:last-child {
    border-radius: 0 0 2px 2px;
}

.card-header-tabs {
    margin-right: -1.1rem;
    margin-bottom: -2rem;
    margin-left: -1.1rem;
    border-bottom: 0;
}

.card-header-pills {
    margin-right: -1.1rem;
    margin-left: -1.1rem;
}

.card-primary {
    background-color: #2196F3;
    border-color: #2196F3;
}

.card-primary .card-header,
.card-primary .card-footer {
    background-color: transparent;
}

.card-success {
    background-color: #32c787;
    border-color: #32c787;
}

.card-success .card-header,
.card-success .card-footer {
    background-color: transparent;
}

.card-info {
    background-color: #00BCD4;
    border-color: #00BCD4;
}

.card-info .card-header,
.card-info .card-footer {
    background-color: transparent;
}

.card-warning {
    background-color: #f5c942;
    border-color: #f5c942;
}

.card-warning .card-header,
.card-warning .card-footer {
    background-color: transparent;
}

.card-danger {
    background-color: #ff6b68;
    border-color: #ff6b68;
}

.card-danger .card-header,
.card-danger .card-footer {
    background-color: transparent;
}

.card-outline-primary {
    background-color: transparent;
    border-color: #2196F3;
}

.card-outline-secondary {
    background-color: transparent;
    border-color: #efefef;
}

.card-outline-info {
    background-color: transparent;
    border-color: #00BCD4;
}

.card-outline-success {
    background-color: transparent;
    border-color: #32c787;
}

.card-outline-warning {
    background-color: transparent;
    border-color: #f5c942;
}

.card-outline-danger {
    background-color: transparent;
    border-color: #ff6b68;
}

.card-inverse {
    color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-header,
.card-inverse .card-footer {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
    color: #fff;
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-subtitle,
.card-inverse .card-blockquote .blockquote-footer {
    color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-link:focus, .card-inverse .card-link:hover {
    color: #FFFFFF;
}

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0;
}

.card-img {
    border-radius: 2px;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}

.card-img-top {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.card-img-bottom {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

@media (min-width: 576px) {
    .card-deck {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .card-deck .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
        flex: 1 0 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .card-deck .card:not(:first-child) {
        margin-left: 15px;
    }

    .card-deck .card:not(:last-child) {
        margin-right: 15px;
    }
}

@media (min-width: 576px) {
    .card-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    .card-group .card {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
        flex: 1 0 0;
    }

    .card-group .card + .card {
        margin-left: 0;
        border-left: 0;
    }

    .card-group .card:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .card-group .card:first-child .card-img-top {
        border-top-right-radius: 0;
    }

    .card-group .card:first-child .card-img-bottom {
        border-bottom-right-radius: 0;
    }

    .card-group .card:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .card-group .card:last-child .card-img-top {
        border-top-left-radius: 0;
    }

    .card-group .card:last-child .card-img-bottom {
        border-bottom-left-radius: 0;
    }

    .card-group .card:not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    .card-group .card:not(:first-child):not(:last-child) .card-img-top,
    .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
        border-radius: 0;
    }
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }

    .card-columns .card {
        display: inline-block;
        width: 100%;
        margin-bottom: 2rem;
    }
}

.card:not([class*="card-outline-"]) {
    border: 0;
}

[class*="card-outline-"] {
    background-color: #FFFFFF;
    box-shadow: none;
}

.card-title {
    font-size: 1.25rem;
    font-size: 16px;
    line-height: 1.1;
    font-weight: normal;
    margin-bottom: 0;
    margin-top:0;
}

.card-subtitle {
    color: #9c9c9c;
    display: block;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.card-header {
    position: relative;
}

.card-header + .card-block {
    padding-top: 0;
}

.card-header .btn--float {
    right: 25px;
    bottom: -23px;
    z-index: 1;
}

.card > .actions,
.card-header .actions {
    position: absolute;
    right: 15px;
    z-index: 2;
    top: 18px;
}

[class*="card-img"] {
    width: 100%;
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-subtitle,
.card-inverse .card-blockquote .blockquote-footer {
    color: rgba(255, 255, 255, 0.85);
}

.card-inverse .card-header,
.card-inverse .card-footer {
    border-color: transparent;
}

.card-link {
    text-transform: uppercase;
    font-size: 0.98rem;
    color: #333;
    font-weight: 500;
}

.card-link:hover {
    color: #4d4d4d;
}

.card-footer {
    padding-top: 0;
}

.card-block p:only-child {
    margin-bottom: 0;
}

.card-block__title {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 0.6rem;
    font-weight: normal;
}



.card .card-header[class*=bgm-] .card-title,
.card .card-block[class*=bgm-] {
    color: #fff
}

.card .card-header[class*=bgm-] .card-subtitle {
    color: rgba(255, 255, 255, .7)
}

.card .card-body {
    border-radius: 2px;
}

.card-header + .card-body {
    border-radius: 0 0 2px 2px;
}


.card-block .view-more {
    padding: 1rem 0 0;
}

.actions [dropdown] {
    display: inline-block;
}

.actions:not(.actions--inverse) .actions__item {
    color: #ababab;
}

.actions:not(.actions--inverse) .actions__item:hover {
    color: #5E5E5E;
}

.actions__item {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 1.5rem;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: color 300ms;
    transition: color 300ms;
}

.actions--inverse .actions__item,
.card-inverse .actions i.zmdi{
    color: rgba(255, 255, 255, 0.7);
}

.actions--inverse .actions__item:hover,
.card-inverse .actions i.zmdi:hover{
    color: #FFFFFF;
}