/****** dropdown style *****/

.dropdown, .dropup {
    position: relative
}

.dropdown-toggle:focus {
    outline: 0
}

.dropdown-menu {
    position: absolute;
    left: 0;
    z-index: 9;
    display: block;
    min-width: 160px;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box
}

.dropdown-menu-right,.dropdown-menu.pull-right {
    left: auto;
    right: 0
}

.dropdown-menu .divider {
    height: 1px;
    margin: 8px 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.08)
}

.dropdown-menu>li>a {
    display: block;
    clear: both;
    font-weight: 400;
    color: #333
}

.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #333;
    background-color: rgba(0,0,0,.075)
}

.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover {
    color: #333;
    text-decoration: none;
    outline: 0;
    background-color: rgba(0,0,0,.075)
}

.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:focus,.dropdown-menu>.disabled>a:hover {
    color: #e4e4e4
}

.dropdown-menu>.disabled>a:focus,.dropdown-menu>.disabled>a:hover {
    text-decoration: none;
    background-color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed
}

.open>.dropdown-menu {
    display: block
}

.open>a {
    outline: 0
}

.dropdown-menu-left {
    left: 0;
    right: auto
}

.dropdown-header {
    display: block;
    font-size: 12px
}

.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1
}

.nav-justified>.dropdown .dropdown-menu,.nav-tabs.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto
}

.pull-right>.dropdown-menu {
    right: 0;
    left: auto
}

.dropup .caret,.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid\9;
    content: ""
}

.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        left:auto;
        right: 0
    }

    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto
    }
}

/****** second css ******/
/*
.dropdown:not([data-animation]) .dropdown-menu {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
*/

.dropdown-menu {
    /*box-shadow: 0 2px 10px rgba(0,0,0,.2);*/
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    padding: 10px 0;
    border-radius: 3px;
    top: -1px;
    margin: 0;
    border: 0
}

.btn-group.open .dropdown-toggle,.progress,.progress .progress-bar {
    box-shadow: none
}

.dropdown-menu>li>a {
    padding: 10px 20px;
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: .5s;
    transition-duration: .5s
}

.dropdown-menu[class*=bgm-]>li>a {
    color: #fff
}

.dropup .dropdown-menu {
    bottom: -2px
}

.dm-icon>li>a>.zmdi {
    line-height: 100%;
    vertical-align: top;
    font-size: 18px;
    width: 28px
}

.dropdown-menu-lg {
    width: 300px
}

.dropdown-header {
    padding: 3px 17px;
    margin-top: 10px;
    color: #b1b1b1;
    text-transform: uppercase;
    font-weight: 400
}

/******/
.dropdown-header, .dropdown-menu > li > a {
    line-height: 1.42857143;
    white-space: nowrap
}


/** iview dropdown select style ***/
.select-dropdown {
    width: inherit;
    max-height: 200px;
    overflow: auto;
    margin: 5px 0;
    padding: 5px 0;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 900
}