.i-progress {
    position: relative;
    line-height: 1
}

.i-progress.is-exception .i-progress-bar-inner {
    background-color: #ff4949
}

.i-progress.is-exception .i-progress-text {
    color: #ff4949
}

.i-progress.is-success .i-progress-bar-inner {
    background-color: #13ce66
}

.i-progress.is-success .i-progress-text {
    color: #13ce66
}

.i-progress-text {
    font-size: 14px;
    color: #657180;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    line-height: 1
}

.i-progress-text i {
    vertical-align: middle;
    display: block
}

.i-progress--without-text .i-progress-text {
    display: none
}

.i-progress--without-text .i-progress-bar {
    padding-right: 0;
    margin-right: 0;
    display: block
}

.i-progress--text-inside .i-progress-bar {
    padding-right: 0;
    margin-right: 0
}

.i-progress-bar {
    padding-right: 55px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-right: -55px;
    box-sizing: border-box
}

.i-progress-bar-outer {
    height: 6px;
    border-radius: 100px;
    background-color: #f3f3f3;
    overflow: hidden;
    position: relative;
    vertical-align: middle
}

.i-progress-bar-inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #20a0ff;
    text-align: right;
    border-radius: 100px;
    line-height: 1;
    transition: all .2s linear;
}

.i-progress.is-active .i-progress-bar-inner:before {
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 10px;
    animation: i-progress-active 2s ease-in-out infinite;
}

@keyframes i-progress-active {
    0% {
        opacity: .3;
        width: 0
    }
    100% {
        opacity: 0;
        width: 100%
    }
}

.i-progress-bar-innerText {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 12px;
    margin: 0 5px
}

@keyframes progress {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 32px 0
    }
}
.i-progress-bar-inner:after {
    display: inline-block;
    content: "";
    height: 100%;
    vertical-align: middle
}