.steps {
    font-size: 0;
    width: 100%;
    line-height: 1.5
}

.steps-item {
    display: inline-block;
    position: relative;
    vertical-align: top
}

.steps-item.steps-status-wait .steps-head-inner {
    background-color: #fff
}

.steps-item.steps-status-wait .steps-head-inner span, .steps-item.steps-status-wait .steps-head-inner > .steps-icon {
    color: #ccc
}

.steps-item.steps-status-wait .steps-title {
    color: #999
}

.steps-item.steps-status-wait .steps-content {
    color: #999
}

.steps-item.steps-status-wait .steps-tail > i {
    background-color: #e3e8ee
}

.steps-item.steps-status-process .steps-head-inner {
    border-color: #39f;
    background-color: #39f
}

.steps-item.steps-status-process .steps-head-inner span, .steps-item.steps-status-process .steps-head-inner > .steps-icon {
    color: #fff
}

.steps-item.steps-status-process .steps-title {
    color: #666
}

.steps-item.steps-status-process .steps-content {
    color: #666
}

.steps-item.steps-status-process .steps-tail > i {
    background-color: #e3e8ee
}

.steps-item.steps-status-finish .steps-head-inner {
    background-color: #fff;
    border-color: #39f
}

.steps-item.steps-status-finish .steps-head-inner span, .steps-item.steps-status-finish .steps-head-inner > .steps-icon {
    color: #39f
}

.steps-item.steps-status-finish .steps-tail > i:after {
    width: 100%;
    background: #39f;
    transition: all .2s ease-in-out;
    opacity: 1
}

.steps-item.steps-status-finish .steps-title {
    color: #999
}

.steps-item.steps-status-finish .steps-content {
    color: #999
}

.steps-item.steps-status-error .steps-head-inner {
    background-color: #fff;
    border-color: #f30
}

.steps-item.steps-status-error .steps-head-inner > .steps-icon {
    color: #f30
}

.steps-item.steps-status-error .steps-title {
    color: #f30
}

.steps-item.steps-status-error .steps-content {
    color: #f30
}

.steps-item.steps-status-error .steps-tail > i {
    background-color: #e3e8ee
}

.steps-item.steps-next-error .steps-tail > i, .steps-item.steps-next-error .steps-tail > i:after {
    background-color: #f30
}

.steps-item.steps-custom .steps-head-inner {
    background: 0 0;
    border: 0;
    width: auto;
    height: auto
}

.steps-item.steps-custom .steps-head-inner > .steps-icon {
    font-size: 20px;
    top: 2px;
    width: 20px;
    height: 20px
}

.steps-item.steps-custom.steps-status-process .steps-head-inner > .steps-icon {
    color: #39f
}

.steps-item:last-child .steps-tail {
    display: none
}

.steps .steps-head, .steps .steps-main {
    position: relative;
    display: inline-block;
    vertical-align: top
}

.steps .steps-head {
    background: #fff
}

.steps .steps-head-inner {
    display: block;
    width: 26px;
    height: 26px;
    line-height: 24px;
    margin-right: 8px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 14px;
    transition: background-color .2s ease-in-out
}

.steps .steps-head-inner > .steps-icon {
    line-height: 1;
    position: relative
}

.steps .steps-head-inner > .steps-icon.icon {
    font-size: 24px
}

.steps .steps-head-inner > .steps-icon.icon-ios-checkmark-empty, .steps .steps-head-inner > .steps-icon.icon-ios-close-empty {
    font-weight: 700
}

.steps .steps-main {
    margin-top: 2.5px;
    display: inline
}

.steps .steps-custom .steps-title {
    margin-top: 2.5px
}

.steps .steps-title {
    display: inline-block;
    margin-bottom: 4px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #666;
    background: #fff
}

.steps .steps-title > a:first-child:last-child {
    color: #666
}

.steps .steps-item-last .steps-title {
    padding-right: 0;
    width: 100%
}

.steps .steps-content {
    font-size: 12px;
    color: #999
}

.steps .steps-tail {
    width: 100%;
    padding: 0 10px;
    position: absolute;
    left: 0;
    top: 13px
}

.steps .steps-tail > i {
    display: inline-block;
    width: 100%;
    height: 1px;
    vertical-align: top;
    background: #e3e8ee;
    border-radius: 1px;
    position: relative
}

.steps .steps-tail > i:after {
    content: '';
    width: 0;
    height: 100%;
    background: #e3e8ee;
    opacity: 0;
    position: absolute;
    top: 0
}

.steps.steps-small .steps-head-inner {
    width: 18px;
    height: 18px;
    line-height: 16px;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px
}

.steps.steps-small .steps-head-inner > .steps-icon.icon {
    font-size: 16px;
    top: 0
}

.steps.steps-small .steps-main {
    margin-top: 0
}

.steps.steps-small .steps-title {
    margin-bottom: 4px;
    margin-top: 0;
    color: #666;
    font-size: 12px;
    font-weight: 700
}

.steps.steps-small .steps-content {
    font-size: 12px;
    color: #999;
    padding-left: 30px
}

.steps.steps-small .steps-tail {
    top: 8px;
    padding: 0 8px
}

.steps.steps-small .steps-tail > i {
    height: 1px;
    width: 100%;
    border-radius: 1px
}

.steps .steps-item.steps-custom .steps-head-inner, .steps.steps-small .steps-item.steps-custom .steps-head-inner {
    width: inherit;
    height: inherit;
    line-height: inherit;
    border-radius: 0;
    border: 0;
    background: 0 0
}

.steps-vertical .steps-item {
    display: block
}

.steps-vertical .steps-tail {
    position: absolute;
    left: 13px;
    top: 0;
    height: 100%;
    width: 1px;
    padding: 30px 0 4px 0
}

.steps-vertical .steps-tail > i {
    height: 100%;
    width: 1px
}

.steps-vertical .steps-tail > i:after {
    height: 0;
    width: 100%
}

.steps-vertical .steps-status-finish .steps-tail > i:after {
    height: 100%
}

.steps-vertical .steps-head {
    float: left
}

.steps-vertical .steps-head-inner {
    margin-right: 16px
}

.steps-vertical .steps-main {
    min-height: 47px;
    overflow: hidden;
    display: block
}

.steps-vertical .steps-main .steps-title {
    line-height: 26px
}

.steps-vertical .steps-main .steps-content {
    padding-bottom: 12px;
    padding-left: 0
}

.steps-vertical .steps-custom .steps-icon {
    left: 4px
}

.steps-vertical.steps-small .steps-custom .steps-icon {
    left: 0
}

.steps-vertical.steps-small .steps-tail {
    position: absolute;
    left: 9px;
    top: 0;
    padding: 22px 0 4px 0
}

.steps-vertical.steps-small .steps-tail > i {
    height: 100%
}

.steps-vertical.steps-small .steps-title {
    line-height: 18px
}

.steps-horizontal.steps-hidden {
    visibility: hidden
}

.steps-horizontal .steps-content {
    padding-left: 35px
}

.steps-horizontal .steps-item:not(:first-child) .steps-head {
    padding-left: 10px;
    margin-left: -10px
}
