/**** tag customStyles ****/
.i-tag {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin: 2px 4px 2px 0;
    padding: 0 8px;
    border: 1px solid #e3e8ee;
    border-radius: 3px;
    background: #f7f7f7;
    font-size: 12px;
    vertical-align: middle;
    opacity: 1;
    overflow: hidden;
    cursor: pointer
}

.i-tag-dot {
    height: 32px;
    line-height: 32px;
    border: 1px solid #e3e8ee !important;
    color: #657180 !important;
    background: #fff !important;
    padding: 0 12px
}

.i-tag-dot-inner {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border-radius: 50%;
    background: #e3e8ee;
    position: relative;
    top: 1px
}

.i-tag-dot .zmdi-close {
    color: #666 !important;
    margin-left: 12px !important
}

.i-tag-border {
    height: 24px;
    line-height: 24px;
    border: 1px solid #e3e8ee !important;
    color: #657180 !important;
    background: #fff !important;
    position: relative
}

.i-tag-border .zmdi-close {
    color: #666 !important;
    margin-left: 12px !important
}

.i-tag-border:after {
    content: "";
    display: none;
    width: 1px;
    background: #e3e8ee;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 22px
}

.i-tag-border.i-tag-closable:after {
    display: block
}

.i-tag-border.i-tag-closable .zmdi-close {
    margin-left: 14px !important
}

.i-tag-border.i-tag-primary {
    color: #39f !important;
    border: 1px solid #39f !important
}

.i-tag-border.i-tag-primary:after {
    background: #39f
}

.i-tag-border.i-tag-primary .zmdi-close {
    color: #39f !important
}

.i-tag-border.i-tag-info {
    color: #73ccff !important;
    border: 1px solid #73ccff !important
}

.i-tag-border.i-tag-info:after {
    background: #73ccff
}

.i-tag-border.i-tag-info .zmdi-close {
    color: #73ccff !important
}

.i-tag-border.i-tag-success {
    color: #0c6 !important;
    border: 1px solid #0c6 !important
}

.i-tag-border.i-tag-success:after {
    background: #0c6
}

.i-tag-border.i-tag-success .zmdi-close {
    color: #0c6 !important
}

.i-tag-border.i-tag-warning {
    color: #f90 !important;
    border: 1px solid #f90 !important
}

.i-tag-border.i-tag-warning:after {
    background: #f90
}

.i-tag-border.i-tag-warning .zmdi-close {
    color: #f90 !important
}

.i-tag-border.i-tag-danger {
    color: #f30 !important;
    border: 1px solid #f30 !important
}

.i-tag-border.i-tag-danger:after {
    background: #f30
}

.i-tag-border.i-tag-danger .zmdi-close {
    color: #f30 !important
}

.i-tag:hover {
    opacity: .85
}

.i-tag, .i-tag a, .i-tag a:hover {
    color: #657180
}

.i-tag-text a:first-child:last-child {
    display: inline-block;
    margin: 0 -8px;
    padding: 0 8px
}

.i-tag .zmdi-close {
    display: inline-block;
    font-size: 14px;
    /*-ms-transform: scale(1.42857143) rotate(0);
    transform: scale(1.42857143) rotate(0);*/
    cursor: pointer;
    margin-left: 8px;
    color: #666;
    opacity: .66;
    position: relative;
    top: 1px
}

:root .i-tag .zmdi-close {
    font-size: 14px
}

.i-tag .zmdi-close:hover {
    opacity: 1
}

.i-tag-primary, .i-tag-success, .i-tag-danger, .i-tag-warning {
    border: 0
}

.i-tag-primary, .i-tag-primary .zmdi-close, .i-tag-primary .zmdi-close:hover, .i-tag-primary a, .i-tag-primary a:hover,
.i-tag-info, .i-tag-info .zmdi-close, .i-tag-info .zmdi-close:hover, .i-tag-info a, .i-tag-info a:hover,
.i-tag-success, .i-tag-success .zmdi-close, .i-tag-success .zmdi-close:hover, .i-tag-success a, .i-tag-success a:hover,
.i-tag-danger, .i-tag-danger .zmdi-close, .i-tag-danger .zmdi-close:hover, .i-tag-danger a, .i-tag-danger a:hover,
.i-tag-warning, .i-tag-warning .zmdi-close, .i-tag-warning .zmdi-close:hover, .i-tag-warning a, .i-tag-warning a:hover {
    color: #fff
}

.i-tag-primary, .i-tag-primary.i-tag-dot .i-tag-dot-inner {
    background: #39f
}

.i-tag-info, .i-tag-info.i-tag-dot .i-tag-dot-inner {
    background: #50bfff;
}

.i-tag-success, .i-tag-success.i-tag-dot .i-tag-dot-inner {
    background: #0c6
}

.i-tag-warning, .i-tag-warning.i-tag-dot .i-tag-dot-inner {
    background: #f90
}

.i-tag-danger, .i-tag-danger.i-tag-dot .i-tag-dot-inner {
    background: #f30
}