/***** modal style *****/
.modal-content, .popover {
    background-clip: padding-box
}

.modal-open {
    overflow: hidden
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    outline: 0
}

.modal-backdrop {
    position: fixed;
    z-index: 11;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0)
}

.modal-backdrop.in {
    opacity: .2;
    filter: alpha(opacity=20)
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid transparent
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: transparent;
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid transparent
}

.modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0
}

.modal-footer .btn-group .btn + .btn {
    margin-left: -1px
}

.modal-footer .btn-block + .btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }

    .modal-sm {
        width: 300px
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px
    }
}

.modal, .modal-backdrop {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

/******** second modal style ********/
/**** modal style ****/
.modal .modal-footer .btn-link:hover, .modal:not([data-modal-color]) .modal-footer .btn-link:hover {
    background-color: #eee
}

@media (min-width: 768px) {
    .modal .modal-dialog, .modal:before {
        display: inline-block;
        vertical-align: middle
    }

    .modal {
        text-align: center
    }

    .modal:before {
        content: '';
        height: 100%;
        width: 1px
    }

    .modal .modal-dialog {
        text-align: left;
        margin: 10px auto
    }
}

.modal .modal-content {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .07);
    border-radius: 2px;
    border: 0
}

.modal .modal-header {
    padding: 23px 26px
}

.modal .modal-title {
    font-weight: 400;
    font-size: 15px
}

.modal .modal-title small {
    display: block;
    margin-top: 8px
}

.modal .modal-body {
    padding: 0 26px 10px
}

.modal .modal-footer .btn-link {
    font-size: 14px;
    color: #2e353b
}

.modal:not([data-modal-color]) .modal-footer .btn-link {
    font-weight: 500
}

.modal[data-modal-color], .modal[data-modal-color] .modal-footer .btn-link, .modal[data-modal-color] .modal-title {
    color: #fff
}

.modal[data-modal-color] .modal-footer {
    background: rgba(0, 0, 0, .1)
}

.modal[data-modal-color] .modal-backdrop {
    background: #fff
}

.modal[data-modal-color] .modal-footer .btn-link {
    font-weight: 400
}

.modal[data-modal-color] .modal-footer .btn-link:hover {
    background-color: rgba(0, 0, 0, .1)
}

.modal[data-modal-color=blue] .modal-content {
    background: #2196F3
}

.modal[data-modal-color=cyan] .modal-content {
    background: #00BCD4
}

.modal[data-modal-color=green] .modal-content {
    background: #4CAF50
}

.modal[data-modal-color=lightgreen] .modal-content {
    background: #8BC34A
}

.modal[data-modal-color=lightblue] .modal-content {
    background: #03A9F4
}

.modal[data-modal-color=amber] .modal-content {
    background: #FFC107
}

.modal[data-modal-color=teal] .modal-content {
    background: #009688
}

.modal[data-modal-color=orange] .modal-content {
    background: #FF9800
}

.modal[data-modal-color=bluegray] .modal-content {
    background: #607D8B
}

.modal[data-modal-color=red] .modal-content {
    background: #F44336
}