/**** nav style ****/
.nav > li, .nav > li > a {
    display: block;
    position: relative
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.nav > li > a {
    padding: 10px 20px;
    color: #5E5E5E;
    font-size:14px;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    /*background-color: #eee*/
}

.nav > li.disabled > a {
    color: #777
}

.nav > li.disabled > a:focus, .nav > li.disabled > a:hover {
    color: #777;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed
}

/*.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #eee;
    border-color: #2196F3
}*/

.nav .nav-divider {
    height: 1px;
    margin: 8px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

.nav > li > a > img {
    max-width: none
}

.nav-tabs {
    border-bottom: 1px solid #fff
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    transition: all .2s ease-in-out;
}

.nav-tabs > li > a {
    /*margin-right: 2px;*/
    line-height: 1.42857143;
    /*border: 1px solid transparent;*/
    border-bottom: 2px solid transparent;
    border-radius: 2px 2px 0 0;
    transition: all .2s ease-in-out;
}

.nav-tabs > li > a:hover {
    /*border-color: #eee #eee #fff*/
    color: #2196f3;
    background-color: transparent;
    border-bottom: 2px solid #2196f3;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    /*color: #555;
    background-color: transparent;
    border: 1px solid #fff;
    border-bottom-color: transparent;*/
    color: #2196f3;
    background-color: transparent;
    border-bottom: 2px solid #2196f3;
    /*cursor: default*/
}

.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0
}

.nav-tabs.nav-justified > li {
    float: none
}

.nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px;
    margin-right: 0;
    border-radius: 2px
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
    border: 1px solid #ddd
}

@media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%
    }

    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
        border-bottom: 1px solid #ddd;
        border-radius: 2px 2px 0 0
    }

    .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
        border-bottom-color: #f3f3f3
    }
}

.nav-pills > li {
    float: left
}

.nav-justified > li, .nav-stacked > li {
    float: none
}

.nav-pills > li > a {
    border-radius: 2px;
    color: #5E5E5E;
}

.nav-pills > li > a:hover {
    background-color: #2196f3;
    color: #fff;
}

.nav-pills > li + li {
    margin-left: 2px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #2196F3;

}

.nav-stacked > li > a {
    transition: all .2s ease-in-out;
    padding: 14px 20px;
}

.nav-stacked > li > a:hover {
    background-color: #f7f7f7;
}

.nav-stacked > li.active > a {
    /*background-color: #f7f7f7;*/
    color: #2196f3;
    background-color: transparent;
    cursor: default;
}

/*.nav-stacked > li.active > a:focus, .nav-stacked > li.active > a:hover {
    background-color: #F7F7F7;
}*/

.nav-stacked > li + li {
    /*margin-top: 2px;*/
    margin-left: 0
}

.nav-justified {
    width: 100%
}

.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px
}

.nav-tabs-justified {
    border-bottom: 0
}

.nav-tabs-justified > li > a {
    margin-right: 0;
    border-radius: 2px
}

.nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:focus, .nav-tabs-justified > .active > a:hover {
    border: 1px solid #ddd
}

@media (min-width: 768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%
    }

    .nav-justified > li > a {
        margin-bottom: 0
    }

    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 2px 2px 0 0
    }

    .nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:focus, .nav-tabs-justified > .active > a:hover {
        border-bottom-color: #f3f3f3
    }
}

.nav-tabs .dropdown-menu {
    /*margin-top: -1px;*/
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

/** menu style **/
.menu-item a {
    color: #5e5e5e;
}
.menu-vertical > .sub-menu > .nav-stacked > .menu-item > a {
    padding-left:45px;
}

.menu-vertical .sub-menu-title .zmdi ,
.menu-vertical .menu-item > a .zmdi {
    font-size: 18px;
    margin-right: 10px;
    vertical-align: top;
}
.menu-vertical .menu-item-group {
    width:100%;
}
.menu-vertical .menu-item-group .menu-item a {
    padding-left: 25px;
}

.menu-vertical .menu-item-group .menu-item:first-child a {
    padding-top: 20px;
}

/*.menu-vertical .menu-item-group .menu-item:last-child a {
    padding-bottom: 20px;
}*/

.menu-vertical .menu-item-group-title {
    color: #999;
    padding-top:15px;
    font-size: 14px;
}

.menu-vertical .sub-menu.active .sub-menu-title {
    color: #262626;
    background-color: transparent;
}

/*
.sub-menu .nav-stacked .menu-item a {
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all .2s ease-in-out;
}
*/

.menu-vertical .sub-menu > a.sub-menu-title:after, .sub-menu > a.sub-menu-title:before {
    position: absolute;
    top: 50%;
    margin-top: -11px;
    font-family: Material-Design-Iconic-Font;
    font-size: 17px;
    right: 15px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

.menu-vertical .sub-menu > a.sub-menu-title:before {
    content: "\f278";
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.menu-vertical .sub-menu > a.sub-menu-title:after {
    content: "\f273";
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}

.menu-vertical .sub-menu.open > a.sub-menu-title:before {
    content: "\f278";
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}

.menu-vertical .sub-menu.open > a.sub-menu-title:after {
    content: "\f273";
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}


/** navbar styles **/
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 18px;
    border: 1px solid transparent
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    -webkit-overflow-scrolling: touch
}

.navbar-collapse.in {
    overflow-y: auto
}

@media (max-device-width: 480px) and (orientation: landscape) {
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height: 200px
    }
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 2px
    }

    .navbar-header {
        float: left
    }

    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important
    }

    .navbar-collapse.in {
        overflow-y: visible
    }

    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
        padding-left: 0;
        padding-right: 0
    }

    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
        margin-right: 0;
        margin-left: 0
    }

    .navbar-static-top {
        border-radius: 0
    }
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0
}

.navbar-brand {
    float: left;
    padding: 16px 15px;
    font-size: 17px;
    line-height: 18px;
    height: 50px
}

.navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none
}

.navbar-brand > img {
    display: block
}

@media (min-width: 768px) {
    .navbar-fixed-bottom, .navbar-fixed-top {
        border-radius: 0
    }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -15px
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 2px
}

.navbar-toggle:focus {
    outline: 0
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px
}

.navbar-nav {
    margin: 8px -15px
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 18px
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none
    }

    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 15px 5px 25px
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 18px
    }

    .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-nav .open .dropdown-menu > li > a:hover {
        background-image: none
    }
}



@media (min-width: 768px) {
    .navbar-toggle {
        display: none
    }

    .navbar-nav {
        float: left;
        margin: 0
    }

    .navbar-nav > li {
        float: left
    }

    .navbar-nav > li > a {
        padding-top: 16px;
        padding-bottom: 16px
    }
}

.navbar-form {
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    margin: 7.5px -15px
}

@media (min-width: 768px) {
    .navbar-form .form-control-static, .navbar-form .form-group {
        display: inline-block
    }

    .navbar-form .control-label, .navbar-form .form-group {
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle
    }

    .navbar-form .input-group .form-control, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
        width: auto
    }

    .navbar-form .input-group > .form-control {
        width: 100%
    }

    .navbar-form .checkbox, .navbar-form .radio {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .checkbox label, .navbar-form .radio label {
        padding-left: 0
    }

    .navbar-form .checkbox input[type=checkbox], .navbar-form .radio input[type=radio] {
        position: relative;
        margin-left: 0
    }

    .navbar-form .has-feedback .form-control-feedback {
        top: 0
    }

    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
}

@media (max-width: 767px) {
    .navbar-form .form-group {
        margin-bottom: 5px
    }

    .navbar-form .form-group:last-child {
        margin-bottom: 0
    }
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    margin-bottom: 0;
    border-radius: 2px 2px 0 0
}

.navbar-btn {
    margin-top: 7.5px;
    margin-bottom: 7.5px
}

.navbar-btn.btn-sm {
    margin-top: 10px;
    margin-bottom: 10px
}

.navbar-btn.btn-xs {
    margin-top: 14px;
    margin-bottom: 14px
}

.navbar-text {
    margin-top: 16px;
    margin-bottom: 16px
}

@media (min-width: 768px) {
    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px
    }

    .navbar-left {
        float: left !important
    }

    .navbar-right {
        float: right !important;
        margin-right: -15px
    }

    .navbar-right ~ .navbar-right {
        margin-right: 0
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7
}

.navbar-default .navbar-brand {
    color: #777
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #5e5e5e;
    background-color: transparent
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-text {
    color: #777
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #333;
    background-color: transparent
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #555;
    background-color: #e7e7e7
}

.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:focus, .navbar-default .navbar-nav > .disabled > a:hover {
    color: #ccc;
    background-color: transparent
}

.navbar-default .navbar-toggle {
    border-color: #ddd
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #e7e7e7;
    color: #555
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #333;
        background-color: transparent
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
        color: #555;
        background-color: #e7e7e7
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        color: #ccc;
        background-color: transparent
    }
}

.navbar-default .navbar-link {
    color: #777
}

.navbar-default .navbar-link:hover {
    color: #333
}

.navbar-default .btn-link {
    color: #777
}

.navbar-default .btn-link:focus, .navbar-default .btn-link:hover {
    color: #333
}

.navbar-default .btn-link[disabled]:focus, .navbar-default .btn-link[disabled]:hover, fieldset[disabled] .navbar-default .btn-link:focus, fieldset[disabled] .navbar-default .btn-link:hover {
    color: #ccc
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808
}

.navbar-inverse .navbar-brand {
    color: #9d9d9d
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #fff;
    background-color: transparent
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text {
    color: #9d9d9d
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: transparent
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #080808
}

.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:focus, .navbar-inverse .navbar-nav > .disabled > a:hover {
    color: #444;
    background-color: transparent
}

.navbar-inverse .navbar-toggle {
    border-color: #333
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #333
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #080808;
    color: #fff
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #fff;
        background-color: transparent
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover {
        color: #fff;
        background-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        color: #444;
        background-color: transparent
    }
}

.navbar-inverse .navbar-link {
    color: #9d9d9d
}

.navbar-inverse .navbar-link:hover {
    color: #fff
}

.navbar-inverse .btn-link {
    color: #9d9d9d
}

.navbar-inverse .btn-link:focus, .navbar-inverse .btn-link:hover {
    color: #fff
}

.navbar-inverse .btn-link[disabled]:focus, .navbar-inverse .btn-link[disabled]:hover, fieldset[disabled] .navbar-inverse .btn-link:focus, fieldset[disabled] .navbar-inverse .btn-link:hover {
    color: #444
}




.navbar-primary {
    background-color: #2196f3;
    border-color: #2196f3;
}

.navbar-primary .navbar-brand {
    color: #f5f5f5;
}

.navbar-primary .navbar-brand:focus, .navbar-primary .navbar-brand:hover {
    color: #fff;
    background-color: transparent
}

.navbar-primary .navbar-nav > li > a, .navbar-primary .navbar-text {
    color: #f5f5f5;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.navbar-primary .navbar-nav > li > a:focus, .navbar-primary .navbar-nav > li > a:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.navbar-primary .navbar-nav > .active > a, .navbar-primary .navbar-nav > .active > a:focus, .navbar-primary .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.navbar-primary .navbar-nav > .disabled > a, .navbar-primary .navbar-nav > .disabled > a:focus, .navbar-primary .navbar-nav > .disabled > a:hover {
    color: #ccc;
    background-color: transparent
}

.navbar-primary .navbar-toggle {
    border-color: #f5f5f5
}

.navbar-primary .navbar-toggle:focus, .navbar-primary .navbar-toggle:hover {
    background-color: #fff
}

.navbar-primary .navbar-toggle .icon-bar {
    background-color: #f5f5f5
}

.navbar-primary .navbar-collapse, .navbar-primary .navbar-form {
    border-color: #f5f5f5
}

.navbar-primary .navbar-nav > .open > a, .navbar-primary .navbar-nav > .open > a:focus, .navbar-primary .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #fff
}

@media (max-width: 767px) {
    .navbar-primary .navbar-nav .open .dropdown-menu > li > a {
        color: #777
    }

    .navbar-primary .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-primary .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #333;
        background-color: transparent
    }

    .navbar-primary .navbar-nav .open .dropdown-menu > .active > a, .navbar-primary .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-primary .navbar-nav .open .dropdown-menu > .active > a:hover {
        color: #555;
        background-color: #e7e7e7
    }

    .navbar-primary .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-primary .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-primary .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        color: #ccc;
        background-color: transparent
    }
}

.navbar-primary .navbar-link {
    color: #f5f5f5
}

.navbar-primary .navbar-link:hover {
    color: #fff
}

.navbar-primary .btn-link {
    color: #f5f5f5
}

.navbar-primary .btn-link:focus, .navbar-primary .btn-link:hover {
    color: #fff
}

.navbar-primary .btn-link[disabled]:focus,
.navbar-primary .btn-link[disabled]:hover,
fieldset[disabled] .navbar-primary .btn-link:focus,
fieldset[disabled] .navbar-default .btn-link:hover {
    color: #ccc
}
.navbar-primary .nav-tabs {
    border-bottom: 1px solid transparent;
}

.navbar-primary .nav-tabs a.menu-item:hover {
    border-color: #fff;
}



/*** tab panel ***/
.tab-content > .tab-pane {
    display: none
}

.tab-content > .active {
    display: block
}

.fw-container .tab-content {
    padding: 25px 0
}

.fw-container .fw-footer {
    text-align: center;
    margin: 30px 0 0;
    width: 100%;
    border-top: 2px solid #eee;
    padding: 15px 0
}

/****** tab-nav ******/
.tab-nav {
    list-style: none;
    padding: 0;
    white-space: nowrap;
    margin: 0;
    overflow: auto;
    box-shadow: inset 0 -2px 0 0 #eee;
    width: 100%
}

.tab-nav li {
    display: inline-block;
    vertical-align: top
}

.tab-nav li > a {
    display: inline-block;
    color: #5e5e5e;
    position: relative;
    width: 100%;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms
}

.tab-nav li > a {
    font-weight: 500;
    text-transform: uppercase
}

.tab-nav li > a:after {
    height: 2px;
    position: absolute;
    width: 100%;
    bottom: 0;
    content: "";
    left: 0;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}

@media (min-width: 768px) {
    .tab-nav li > a {
        padding: 15px
    }
}

@media (max-width: 768px) {
    .tab-nav li > a {
        padding: 15px 8px
    }
}

.tab-nav li.active > a {
    color: #000
}

.tab-nav li.active > a:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.tab-nav.tab-nav-right {
    text-align: right
}

.tab-nav.tn-justified > li {
    display: table-cell;
    width: 1%;
    text-align: center
}

.tab-nav.tn-icon > li .zmdi {
    font-size: 16px;
    line-height: 100%;
    min-height: 25px;
    margin-right:5px;
}

.tab-nav:not([data-tab-color]) > li > a:after {
    background: #2196F3
}

.tab-nav[data-tab-color=green] > li > a:after {
    background: #4CAF50
}

.tab-nav[data-tab-color=red] > li > a:after {
    background: #F44336
}

.tab-nav[data-tab-color=teal] > li > a:after {
    background: #009688
}

.tab-nav[data-tab-color=amber] > li > a:after {
    background: #FFC107
}

.tab-nav[data-tab-color=black] > li > a:after {
    background: #000
}

.tab-nav[data-tab-color=cyan] > li > a:after {
    background: #00BCD4
}

.tab-content {
    padding: 20px 0
}


/*
.i-menu .i-sub-menu .nav-stacked {
    display: none;
}
.i-sub-menu .nav-stacked .menu-item a {
    padding: 12px 20px 12px 45px;
    color: #989898;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    z-index: 1;
    transition: all .2s ease-in-out;
}

.i-sub-menu ul.nav-stacked > li:first-child > a {
    padding-top: 14px;
}
.i-sub-menu ul.nav-stacked > li:last-child > a {
    padding-bottom: 16px;
}

.i-sub-menu .nav-stacked .menu-item a:hover,
.i-sub-menu .nav-stacked .menu-item.active a{
    color: #262626;
    background-color: transparent;
}

.i-sub-menu .nav-stacked .i-sub-menu .i-sub-menu-title {
    padding-left: 45px;
}

.i-menu > .i-sub-menu.active > .i-sub-menu-title,
.i-menu > .menu-item.active > a {
    background-color: #F7F7F7;
    color: #262626;
}

.i-menu > .i-sub-menu > .i-sub-menu-title .zmdi ,
.i-menu > .menu-item > a .zmdi {
    font-size: 18px;
    margin-right: 10px;
    vertical-align: top;
}
.i-sub-menu > a.i-sub-menu-title:after, .i-sub-menu > a.i-sub-menu-title:before {
    position: absolute;
    top: 50%;
    margin-top: -11px;
    font-family: Material-Design-Iconic-Font;
    font-size: 17px;
    right: 15px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

.i-sub-menu > a.i-sub-menu-title:before {
    content: "\f278";
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.i-sub-menu > a.i-sub-menu-title:after {
    content: "\f273";
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}

.i-sub-menu.toggled > a.i-sub-menu-title:before {
    content: "\f278";
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}

.i-sub-menu.toggled > a.i-sub-menu-title:after {
    content: "\f273";
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}
*/



