.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn.active:focus,.btn:active:focus,.btn:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

.btn:focus,.btn:hover {
    color: #333;
    text-decoration: none
}

.btn.active,.btn:active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #fff
}

.btn-default.active,.btn-default:active,.btn-default:focus,.btn-default:hover,.open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-default:focus,.btn-default:hover,.open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #fff;
    outline: 0!important
}

.btn-default.ghost {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    -webkit-transition: all 218ms cubic-bezier(.42,0,.58,1);
    -o-transition: all 218ms cubic-bezier(.42,0,.58,1);
    transition: all 218ms cubic-bezier(.42,0,.58,1)
}

.btn-default.active,.btn-default.disabled,.btn-default.disabled.active,.btn-default.disabled:active,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default.ghost:hover,.btn-default:active,.btn-default[disabled],.btn-default[disabled].active,.btn-default[disabled]:active,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default,fieldset[disabled] .btn-default.active,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover {
    background-color: #fff;
    border-color: #fff
}

.btn-primary.ghost,.btn-success.ghost {
    -webkit-transition: all 218ms cubic-bezier(.42,0,.58,1);
    -o-transition: all 218ms cubic-bezier(.42,0,.58,1)
}

.btn-default.ghost:hover {
    color: #333
}

.btn-default.active,.btn-default:active {
    color: #333;
    outline: 0!important
}

.btn-default .badge {
    color: #fff;
    background-color: #333
}

.btn-primary {
    color: #fff;
    background-color: #03A9F4;
    border-color: #03A9F4
}

.btn-primary.active,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0286c2;
    border-color: #026e9e
}

.btn-primary:focus,.btn-primary:hover,.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0ab1fc;
    border-color: #0ab1fc;
    outline: 0!important
}

.btn-primary.ghost {
    color: #03A9F4;
    background-color: transparent;
    border-color: #03A9F4;
    transition: all 218ms cubic-bezier(.42,0,.58,1)
}

.btn-primary.ghost:hover {
    color: #fff;
    background-color: #0ab1fc;
    border-color: #0ab1fc
}

.btn-primary.active,.btn-primary:active {
    color: #fff;
    background-color: #05affc;
    border-color: #05affc;
    outline: 0!important
}

.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled],.btn-primary[disabled].active,.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover {
    background-color: #03A9F4;
    border-color: #03A9F4
}

.btn-primary .badge {
    color: #03A9F4;
    background-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #259B24;
    border-color: #259B24
}

.btn-success.active,.btn-success:active,.btn-success:focus,.btn-success:hover,.open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #1b721a;
    border-color: #145514
}

.btn-success.active,.btn-success:active,.open>.dropdown-toggle.btn-success {
    background-image: none
}

.btn-success:focus,.btn-success:hover,.open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #28a727;
    border-color: #28a727;
    outline: 0!important
}

.btn-success.ghost {
    color: #259B24;
    background-color: transparent;
    border-color: #259B24;
    transition: all 218ms cubic-bezier(.42,0,.58,1)
}

.btn-info.ghost,.btn-warning.ghost {
    -webkit-transition: all 218ms cubic-bezier(.42,0,.58,1);
    -o-transition: all 218ms cubic-bezier(.42,0,.58,1)
}

.btn-success.ghost:hover {
    color: #fff;
    background-color: #28a727;
    border-color: #28a727
}

.btn-success.active,.btn-success:active {
    color: #fff;
    background-color: #27a326;
    border-color: #27a326;
    outline: 0!important
}

.btn-success.disabled,.btn-success.disabled.active,.btn-success.disabled:active,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success[disabled],.btn-success[disabled].active,.btn-success[disabled]:active,.btn-success[disabled]:focus,.btn-success[disabled]:hover,fieldset[disabled] .btn-success,fieldset[disabled] .btn-success.active,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover {
    background-color: #259B24;
    border-color: #259B24
}

.btn-success .badge {
    color: #259B24;
    background-color: #fff
}

.btn-info {
    color: #fff;
    background-color: #5677FC;
    border-color: #5677FC
}

.btn-info.active,.btn-info:active,.btn-info:focus,.btn-info:hover,.open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #244ffb;
    border-color: #0435f7
}

.btn-info:focus,.btn-info:hover,.open .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #6583fc;
    border-color: #6583fc;
    outline: 0!important
}

.btn-info.ghost {
    color: #5677FC;
    background-color: transparent;
    border-color: #5677FC;
    transition: all 218ms cubic-bezier(.42,0,.58,1)
}

.btn-info.ghost:hover {
    color: #fff;
    background-color: #6583fc;
    border-color: #6583fc
}

.btn-info.active,.btn-info:active {
    color: #fff;
    background-color: #607ffc;
    border-color: #607ffc;
    outline: 0!important
}

.btn-info.disabled,.btn-info.disabled.active,.btn-info.disabled:active,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info[disabled],.btn-info[disabled].active,.btn-info[disabled]:active,.btn-info[disabled]:focus,.btn-info[disabled]:hover,fieldset[disabled] .btn-info,fieldset[disabled] .btn-info.active,fieldset[disabled] .btn-info:active,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:hover {
    background-color: #5677FC;
    border-color: #5677FC
}

.btn-info .badge {
    color: #5677FC;
    background-color: #fff
}

.btn-warning {
    color: #fff;
    background-color: #FF9800;
    border-color: #FF9800
}

.btn-warning.active,.btn-warning:active,.btn-warning:focus,.btn-warning:hover,.open>.dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #cc7a00;
    border-color: #a86400
}

.btn-warning:focus,.btn-warning:hover,.open .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ff9e0f;
    border-color: #ff9e0f;
    outline: 0!important
}

.btn-warning.ghost {
    color: #FF9800;
    background-color: transparent;
    border-color: #FF9800;
    transition: all 218ms cubic-bezier(.42,0,.58,1)
}

.btn-warning.ghost:hover {
    color: #fff;
    background-color: #ff9e0f;
    border-color: #ff9e0f
}

.btn-warning.active,.btn-warning:active {
    color: #fff;
    background-color: #ff9c0a;
    border-color: #ff9c0a;
    outline: 0!important
}

.btn-warning.disabled,.btn-warning.disabled.active,.btn-warning.disabled:active,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning[disabled],.btn-warning[disabled].active,.btn-warning[disabled]:active,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning,fieldset[disabled] .btn-warning.active,fieldset[disabled] .btn-warning:active,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:hover {
    background-color: #FF9800;
    border-color: #FF9800
}

.btn-warning .badge {
    color: #FF9800;
    background-color: #fff
}

.btn-danger {
    color: #fff;
    background-color: #E51C23;
    border-color: #E51C23
}

.btn-danger.active,.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #b9151b;
    border-color: #991216
}

.btn-danger:focus,.btn-danger:hover,.open .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #e72a30;
    border-color: #e72a30;
    outline: 0!important
}

.btn-danger.ghost {
    color: #E51C23;
    background-color: transparent;
    border-color: #E51C23;
    -webkit-transition: all 218ms cubic-bezier(.42,0,.58,1);
    -o-transition: all 218ms cubic-bezier(.42,0,.58,1);
    transition: all 218ms cubic-bezier(.42,0,.58,1)
}

.btn-danger.ghost:hover {
    color: #fff;
    background-color: #e72a30;
    border-color: #e72a30
}

.btn-danger.active,.btn-danger:active {
    color: #fff;
    background-color: #e6252c;
    border-color: #e6252c;
    outline: 0!important
}

.btn-group .dropdown-toggle:active,.btn-group-vertical>.btn:focus,.btn-group.open .dropdown-toggle,.btn-group>.btn:focus,.carousel-control:focus,.carousel-control:hover,.dropdown-toggle:focus,.modal,.modal-content,.navbar-toggle:focus,.open>a {
    outline: 0
}

.btn-danger.disabled,.btn-danger.disabled.active,.btn-danger.disabled:active,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger[disabled],.btn-danger[disabled].active,.btn-danger[disabled]:active,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger,fieldset[disabled] .btn-danger.active,fieldset[disabled] .btn-danger:active,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:hover {
    background-color: #E51C23;
    border-color: #E51C23
}

.btn-danger .badge {
    color: #E51C23;
    background-color: #fff
}

.btn-link {
    color: #383838;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0
}

.btn-link,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.btn-link,.btn-link:active,.btn-link:focus,.btn-link:hover {
    border-color: transparent
}

.btn-link:focus,.btn-link:hover {
    color: #03A9F4;
    text-decoration: underline;
    background-color: transparent
}

.btn-link[disabled]:focus,.btn-link[disabled]:hover,fieldset[disabled] .btn-link:focus,fieldset[disabled] .btn-link:hover {
    color: #a6a6a6;
    text-decoration: none
}

.btn-group-lg>.btn,.btn-lg {
    padding: 14px 16px;
    font-size: 15px;
    line-height: 1.33;
    border-radius: 3px
}

.btn-group-sm>.btn,.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px
}

.btn-group-xs>.btn,.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px
}

.btn-block {
    display: block;
    width: 100%
}

.btn-block+.btn-block {
    margin-top: 5px
}

input[type=button].btn-block,input[type=reset].btn-block,input[type=submit].btn-block {
    width: 100%
}




.btn-group,.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle
}

.btn-group-vertical>.btn,.btn-group>.btn {
    position: relative;
    float: left
}

.btn-group-vertical>.btn.active,.btn-group-vertical>.btn:active,.btn-group-vertical>.btn:focus,.btn-group-vertical>.btn:hover,.btn-group>.btn.active,.btn-group>.btn:active,.btn-group>.btn:focus,.btn-group>.btn:hover {
    z-index: 2
}

.btn-group .btn+.btn,.btn-group .btn+.btn-group,.btn-group .btn-group+.btn,.btn-group .btn-group+.btn-group {
    margin-left: -1px
}

.btn-toolbar {
    margin-left: -5px
}

.btn-toolbar>.btn,.btn-toolbar>.btn-group,.btn-toolbar>.input-group {
    margin-left: 5px
}

.btn .caret,.btn-group>.btn:first-child {
    margin-left: 0
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.btn-group>.btn:last-child:not(:first-child),.btn-group>.dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.btn-group>.btn-group:first-child>.btn:last-child,.btn-group>.btn-group:first-child>.dropdown-toggle {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.btn-group>.btn-group:last-child>.btn:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.btn-group>.btn+.dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px
}

.btn-group>.btn-lg+.dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.btn-group.open .dropdown-toggle.btn-link {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.btn-lg .caret {
    border-width: 5px 5px 0
}

.dropup .btn-lg .caret {
    border-width: 0 5px 5px
}

.btn-group-vertical>.btn,.btn-group-vertical>.btn-group,.btn-group-vertical>.btn-group>.btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%
}

.btn-group-vertical>.btn-group>.btn {
    float: none
}

.btn-group-vertical>.btn+.btn,.btn-group-vertical>.btn+.btn-group,.btn-group-vertical>.btn-group+.btn,.btn-group-vertical>.btn-group+.btn-group {
    margin-top: -1px;
    margin-left: 0
}

.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group,.input-group-btn>.btn+.btn {
    margin-left: -1px
}

.btn-group-vertical>.btn:first-child:not(:last-child) {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.btn-group-vertical>.btn:last-child:not(:first-child) {
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn {
    border-radius: 0
}

.btn-group-vertical>.btn-group:first-child:not(:last-child)>.btn:last-child,.btn-group-vertical>.btn-group:first-child:not(:last-child)>.dropdown-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.btn-group-vertical>.btn-group:last-child:not(:first-child)>.btn:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate
}

.btn-group-justified>.btn,.btn-group-justified>.btn-group {
    float: none;
    display: table-cell;
    width: 1%
}

.btn-group-justified>.btn-group .btn {
    width: 100%
}

.btn-group-justified>.btn-group .dropdown-menu {
    left: auto
}