@font-face {
    font-family: weather-icons;
    src: url(../fonts/weather-icons/weather-icons.eot);
    src: url(../fonts/weather-icons/weather-icons.eot?#iefix) format('embedded-opentype'),
        url(../fonts/weather-icons/weather-icons.woff) format('woff'),
        url(../fonts/weather-icons/weather-icons.ttf) format('truetype'),
        url(../fonts/weather-icons/weather-icons.svg#icon) format('svg');
    font-weight: 400;
    font-style: normal
}

#weather-widget [class*=icon-] {
    font-family: weather-icons;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-0:before {
    content: ":"
}

.icon-1:before {
    content: "p"
}

.icon-2:before {
    content: "S"
}

.icon-3:before {
    content: "Q"
}

.icon-4:before {
    content: "S"
}

.icon-5:before, .icon-6:before, .icon-7:before, .icon-8:before {
    content: "W"
}

.icon-9:before {
    content: "I"
}

.icon-10:before {
    content: "W"
}

.icon-11:before, .icon-12:before, .icon-13:before, .icon-14:before {
    content: "I"
}

.icon-15:before {
    content: "W"
}

.icon-16:before {
    content: "I"
}

.icon-17:before {
    content: "W"
}

.icon-18:before {
    content: "U"
}

.icon-19:before, .icon-20:before, .icon-21:before, .icon-22:before, .icon-23:before {
    content: "Z"
}

.icon-24:before, .icon-25:before {
    content: "E"
}

.icon-26:before {
    content: "3"
}

.icon-27:before {
    content: "a"
}

.icon-28:before {
    content: "A"
}

.icon-29:before {
    content: "a"
}

.icon-30:before {
    content: "A"
}

.icon-31:before {
    content: "6"
}

.icon-32:before {
    content: "1"
}

.icon-33:before {
    content: "6"
}

.icon-34:before {
    content: "1"
}

.icon-35:before {
    content: "W"
}

.icon-36:before {
    content: "1"
}

.icon-37:before, .icon-38:before, .icon-39:before {
    content: "S"
}

.icon-40:before {
    content: "M"
}

.icon-41:before {
    content: "W"
}

.icon-42:before {
    content: "I"
}

.icon-43:before {
    content: "W"
}

.icon-44:before {
    content: "a"
}

.icon-45:before {
    content: "S"
}

.icon-46:before {
    content: "U"
}

.icon-47:before {
    content: "S"
}

#weather-widget {
    color: #fff;
    padding: 20px 20px 0
}

#weather-widget .weather-status {
    font-size: 40px;
    line-height: 100%
}

#weather-widget .weather-icon {
    text-align: center;
    margin-top: 10px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center
}

#weather-widget .weather-icon.wi-0 {
    background-image: url(../img/icons/weather/0.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-0 {
        background-image: url(../img/icons/weather/0@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-1 {
    background-image: url(../img/icons/weather/1.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-1 {
        background-image: url(../img/icons/weather/1@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-2 {
    background-image: url(../img/icons/weather/2.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-2 {
        background-image: url(../img/icons/weather/2@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-3 {
    background-image: url(../img/icons/weather/3.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-3 {
        background-image: url(../img/icons/weather/3@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-4 {
    background-image: url(../img/icons/weather/2.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-4 {
        background-image: url(../img/icons/weather/2@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-5 {
    background-image: url(../img/icons/weather/5.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-5 {
        background-image: url(../img/icons/weather/5@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-6 {
    background-image: url(../img/icons/weather/5.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-6 {
        background-image: url(../img/icons/weather/5@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-7 {
    background-image: url(../img/icons/weather/5.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-7 {
        background-image: url(../img/icons/weather/5@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-8 {
    background-image: url(../img/icons/weather/5.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-8 {
        background-image: url(../img/icons/weather/5@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-9 {
    background-image: url(../img/icons/weather/9.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-9 {
        background-image: url(../img/icons/weather/9@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-10 {
    background-image: url(../img/icons/weather/5.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-10 {
        background-image: url(../img/icons/weather/5@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-11 {
    background-image: url(../img/icons/weather/9.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-11 {
        background-image: url(../img/icons/weather/9@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-12 {
    background-image: url(../img/icons/weather/9.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-12 {
        background-image: url(../img/icons/weather/9@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-13 {
    background-image: url(../img/icons/weather/9.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-13 {
        background-image: url(../img/icons/weather/9@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-14 {
    background-image: url(../img/icons/weather/9.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-14 {
        background-image: url(../img/icons/weather/9@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-15 {
    background-image: url(../img/icons/weather/5.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-15 {
        background-image: url(../img/icons/weather/5@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-16 {
    background-image: url(../img/icons/weather/9.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-16 {
        background-image: url(../img/icons/weather/9@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-17 {
    background-image: url(../img/icons/weather/5.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-17 {
        background-image: url(../img/icons/weather/5@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-18 {
    background-image: url(../img/icons/weather/18.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-18 {
        background-image: url(../img/icons/weather/18@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-19 {
    background-image: url(../img/icons/weather/19.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-19 {
        background-image: url(../img/icons/weather/19@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-20 {
    background-image: url(../img/icons/weather/19.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-20 {
        background-image: url(../img/icons/weather/19@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-21 {
    background-image: url(../img/icons/weather/19.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-21 {
        background-image: url(../img/icons/weather/19@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-22 {
    background-image: url(../img/icons/weather/19.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-22 {
        background-image: url(../img/icons/weather/19@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-23 {
    background-image: url(../img/icons/weather/19.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-23 {
        background-image: url(../img/icons/weather/19@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-24 {
    background-image: url(../img/icons/weather/24.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-24 {
        background-image: url(../img/icons/weather/24@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-25 {
    background-image: url(../img/icons/weather/24.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-25 {
        background-image: url(../img/icons/weather/24@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-26 {
    background-image: url(../img/icons/weather/26.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-26 {
        background-image: url(../img/icons/weather/26@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-27 {
    background-image: url(../img/icons/weather/27.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-27 {
        background-image: url(../img/icons/weather/27@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-28 {
    background-image: url(../img/icons/weather/28.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-28 {
        background-image: url(../img/icons/weather/28@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-29 {
    background-image: url(../img/icons/weather/27.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-29 {
        background-image: url(../img/icons/weather/27@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-30 {
    background-image: url(../img/icons/weather/28.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-30 {
        background-image: url(../img/icons/weather/28@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-31 {
    background-image: url(../img/icons/weather/31.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-31 {
        background-image: url(../img/icons/weather/31@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-32 {
    background-image: url(../img/icons/weather/32.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-32 {
        background-image: url(../img/icons/weather/32@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-33 {
    background-image: url(../img/icons/weather/31.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-33 {
        background-image: url(../img/icons/weather/31@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-34 {
    background-image: url(../img/icons/weather/32.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-34 {
        background-image: url(../img/icons/weather/32@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-35 {
    background-image: url(../img/icons/weather/5.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-35 {
        background-image: url(../img/icons/weather/5@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-36 {
    background-image: url(../img/icons/weather/32.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-36 {
        background-image: url(../img/icons/weather/32@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-37 {
    background-image: url(../img/icons/weather/2.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-37 {
        background-image: url(../img/icons/weather/2@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-38 {
    background-image: url(../img/icons/weather/2.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-38 {
        background-image: url(../img/icons/weather/2@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-39 {
    background-image: url(../img/icons/weather/2.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-39 {
        background-image: url(../img/icons/weather/2@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-40 {
    background-image: url(../img/icons/weather/5.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-40 {
        background-image: url(../img/icons/weather/5@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-41 {
    background-image: url(../img/icons/weather/5.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-41 {
        background-image: url(../img/icons/weather/5@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-42 {
    background-image: url(../img/icons/weather/9.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-42 {
        background-image: url(../img/icons/weather/9@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-43 {
    background-image: url(../img/icons/weather/5.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-43 {
        background-image: url(../img/icons/weather/5@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-44 {
    background-image: url(../img/icons/weather/27.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-44 {
        background-image: url(../img/icons/weather/27@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-45 {
    background-image: url(../img/icons/weather/2.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-45 {
        background-image: url(../img/icons/weather/2@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-46 {
    background-image: url(../img/icons/weather/18.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-46 {
        background-image: url(../img/icons/weather/18@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-icon.wi-47 {
    background-image: url(../img/icons/weather/2.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    #weather-widget .weather-icon.wi-47 {
        background-image: url(../img/icons/weather/2@2x.png);
        background-size: 125px 125px
    }
}

#weather-widget .weather-info {
    list-style: none;
    padding: 0;
    margin: 3px 0 0
}

#weather-widget .weather-info > li {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, .39);
    padding: 2px 10px 3px;
    margin-right: 5px
}

#weather-widget .dw-footer {
    background: rgba(0, 0, 0, .04);
    padding: 10px 20px
}

#weather-widget .weather-list {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#weather-widget .weather-list > span {
    margin-right: 7px;
    display: inline-block;
    line-height: 40px;
    vertical-align: top
}

#weather-widget .weather-list > span.weather-list-icon {
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px
}

#weather-widget .weather-list > span.weather-list-icon.wi-0 {
    background-image: url(../img/icons/weather/0.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-1 {
    background-image: url(../img/icons/weather/1.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-2 {
    background-image: url(../img/icons/weather/2.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-3 {
    background-image: url(../img/icons/weather/3.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-4 {
    background-image: url(../img/icons/weather/2.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-5, #weather-widget .weather-list > span.weather-list-icon.wi-6, #weather-widget .weather-list > span.weather-list-icon.wi-7, #weather-widget .weather-list > span.weather-list-icon.wi-8 {
    background-image: url(../img/icons/weather/5.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-9 {
    background-image: url(../img/icons/weather/9.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-10 {
    background-image: url(../img/icons/weather/5.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-11, #weather-widget .weather-list > span.weather-list-icon.wi-12, #weather-widget .weather-list > span.weather-list-icon.wi-13, #weather-widget .weather-list > span.weather-list-icon.wi-14 {
    background-image: url(../img/icons/weather/9.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-15 {
    background-image: url(../img/icons/weather/5.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-16 {
    background-image: url(../img/icons/weather/9.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-17 {
    background-image: url(../img/icons/weather/5.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-18 {
    background-image: url(../img/icons/weather/18.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-19, #weather-widget .weather-list > span.weather-list-icon.wi-20, #weather-widget .weather-list > span.weather-list-icon.wi-21, #weather-widget .weather-list > span.weather-list-icon.wi-22, #weather-widget .weather-list > span.weather-list-icon.wi-23 {
    background-image: url(../img/icons/weather/19.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-24, #weather-widget .weather-list > span.weather-list-icon.wi-25 {
    background-image: url(../img/icons/weather/24.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-26 {
    background-image: url(../img/icons/weather/26.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-27 {
    background-image: url(../img/icons/weather/27.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-28 {
    background-image: url(../img/icons/weather/28.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-29 {
    background-image: url(../img/icons/weather/27.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-30 {
    background-image: url(../img/icons/weather/28.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-31 {
    background-image: url(../img/icons/weather/31.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-32 {
    background-image: url(../img/icons/weather/32.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-33 {
    background-image: url(../img/icons/weather/31.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-34 {
    background-image: url(../img/icons/weather/32.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-35 {
    background-image: url(../img/icons/weather/5.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-36 {
    background-image: url(../img/icons/weather/32.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-37, #weather-widget .weather-list > span.weather-list-icon.wi-38, #weather-widget .weather-list > span.weather-list-icon.wi-39 {
    background-image: url(../img/icons/weather/2.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-40, #weather-widget .weather-list > span.weather-list-icon.wi-41 {
    background-image: url(../img/icons/weather/5.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-42 {
    background-image: url(../img/icons/weather/9.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-43 {
    background-image: url(../img/icons/weather/5.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-44 {
    background-image: url(../img/icons/weather/27.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-45 {
    background-image: url(../img/icons/weather/2.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-46 {
    background-image: url(../img/icons/weather/18.png)
}

#weather-widget .weather-list > span.weather-list-icon.wi-47 {
    background-image: url(../img/icons/weather/2.png)
}

#weather-widget .weather-list > span > i {
    line-height: 100%;
    font-size: 39px
}