/** header-inner-menu-notification **/
.him-notification:before {
    content:"";
    position: absolute;
    width: 100%;
    height: calc(100% - 70px);
    background: url(../../img/notifications.png) center no-repeat;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transform: scale(0) rotate(-180deg);
    -ms-transform: scale(0) rotate(-180deg);
    -o-transform: scale(0) rotate(-180deg);
    transform: scale(0) rotate(-180deg);
    opacity: 0;
    filter: alpha(opacity=0);
    top: 42px
}

.him-notification.empty:before {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
    opacity: 1;
    filter: alpha(opacity=100)
}

/** 全屏 **/
:-webkit-full-screen [data-ma-action=fullscreen],
:-moz-full-screen [data-ma-action=fullscreen],
:-ms-fullscreen [data-ma-action=fullscreen],
:fullscreen [data-ma-action=fullscreen]{
    display: none
}