/******* app header style ******/
#header {
    position: fixed;
}
.header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    min-height: 70px;
    user-select: none;
    position: relative;
    z-index: 11;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 20px;
    -moz-user-select: none;
    -ms-user-select: none;
}
@media (max-width: 767px) {
    .header {
        padding: 0 8px
    }
}

.header-inner-logo a {
    color: #fff;
    text-transform: uppercase;
    display: block;
    font-size: 16px;
    padding: 7px 10px;
}

/** header actions-inner-wrap **/
.header-inner {
    list-style: none;
    padding: 17px 0;
    margin-bottom: 0;
    position: relative
}

.header-inner > li:not(.pull-right) {
    float: left
}



.header-inner-menu, .header-inner-menu > li .dropdown-menu-lg,
.toolbar-menu , .toolbar-menu .toolbar-menu-item .dropdown-menu-lg{
    padding: 0
}

.header-inner-menu {
    list-style: none;
}

.header-inner-menu > li,
.toolbar-menu .toolbar-menu-item{
    display: inline-block;
    margin: 0 1px;
    vertical-align: top;
    min-width: 50px
}

@media (max-width: 767px) {
    .header-inner-menu > li,
    .toolbar-menu .toolbar-menu-item {
        position: static !important
    }
}

.header-inner-menu > li .dropdown-menu,
.toolbar-menu .toolbar-menu-item .dropdown-menu{
    top: -5px
}

.header-inner-menu > li .dropdown-menu-lg .lg-body,
.toolbar-menu .toolbar-menu-item .dropdown-menu-lg .lg-body{
    min-height: 350px;
    overflow-x: hidden
}

.header-inner-menu > li > a,
.toolbar-menu .toolbar-menu-item .toolbar-menu-item-trigger{
    color: #fff;
    display: block;
    text-align: center;
    z-index: 1;
    position: relative;
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    border-radius: 2px
}

.header-inner-menu > li > a > .him-icon ,
.toolbar-menu .toolbar-menu-item  .toolbar-menu-item-trigger > .him-icon{
    font-size: 24px;
    line-height: 36px
}


.header-inner-menu > li > a > .him-label ,
.toolbar-menu .toolbar-menu-item .toolbar-menu-item-trigger > .him-label{
    line-height: 35px;
    white-space: nowrap;
    padding: 0 10px;
    font-size: 14px;
    text-transform: uppercase
}

.header-inner-menu > li > a > .him-counts,
.toolbar-menu .toolbar-menu-item .toolbar-menu-item-trigger >.him-counts{
    position: absolute;
    font-style: normal;
    background: #F44336;
    padding: 1px 5px;
    border-radius: 2px;
    right: 7px;
    top: -3px;
    font-size: 10px;
    line-height: 15px
}

.header-inner-menu > li.toggled > a,
.header-inner-menu > li:hover > a,
.toolbar-menu .toolbar-menu-item.toggled  .toolbar-menu-item-trigger ,
.toolbar-menu .toolbar-menu-item:hover  .toolbar-menu-item-trigger {
    background-color: rgba(0, 0, 0, .08)
}

@media (max-width: 767px) {
    .header-inner-menu .dropdown-menu-lg,
    .toolbar-menu .dropdown-menu-lg{
        width: calc(100% - 28px) !important
    }

    .header-inner-menu .dropdown-menu,
    .toolbar-menu .dropdown-menu{
        right: 14px;
        top: 55px !important
    }
}

.ma-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    cursor: pointer
}

/**  弹出左右两侧的菜单时，内容区域的遮罩层**/
.ma-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    cursor: pointer
}