/*** wall page style ****/
.avatar-img {
    width: 42px
}

.wp-text {
    border: 0;
    display: block;
    width: 100%;
    resize: none !important;
    padding: 20px 25px
}

.wp-media {
    background: #F7F7F7;
    border: 1px solid #E4E4E4;
    padding: 12px 15px;
    margin: 10px 20px 20px
}

.wp-actions {
    padding: 10px 15px 10px 20px;
    background-color: #F7F7F7
}

.wpa-media-list > a {
    font-size: 20px;
    margin-right: 8px
}

.wpa-media-list > a:hover {
    opacity: .7;
    filter: alpha(opacity=70)
}

.wis-numbers {
    float: left
}

.wis-numbers > span {
    margin-right: -1px;
    padding: 7px 12px;
    border: 1px solid #E0E0E0;
    float: left;
    font-weight: 500
}

.wis-numbers > span > i {
    line-height: 100%;
    vertical-align: top;
    position: relative;
    top: 3px;
    font-size: 15px;
    margin-right: 2px
}

.wis-numbers > span.active {
    color: #4CAF50
}

.wis-commentors {
    float: right
}

.wis-commentors > a {
    display: inline-block;
    margin-left: 2px
}

.wis-commentors > a > img {
    width: 33px;
    height: 33px;
    border-radius: 50%
}

.wis-commentors > a > img:hover {
    opacity: .85;
    filter: alpha(opacity=85)
}

@media screen and (min-width: 768px) {
    .wi-preview {
        margin: 0 -23px 20px
    }
}

@media screen and (max-width: 991px) {
    .wi-preview {
        margin: 0 -16px 20px
    }
}

.wi-preview .wip-item {
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
    border: 2px solid #fff;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    cursor: pointer
}

.wi-preview .wip-item:hover {
    opacity: .9;
    filter: alpha(opacity=90)
}

.wi-preview .wip-item > img {
    display: none
}

.wi-preview .wip-item:first-child:nth-last-child(2), .wi-preview .wip-item:first-child:nth-last-child(2) ~ div {
    width: 50%;
    padding-bottom: 40%
}

.wi-preview .wip-item:first-child:nth-last-child(3), .wi-preview .wip-item:first-child:nth-last-child(3) ~ div, .wi-preview .wip-item:first-child:nth-last-child(4), .wi-preview .wip-item:first-child:nth-last-child(4) ~ div:not(:last-child), .wi-preview .wip-item:first-child:nth-last-child(5), .wi-preview .wip-item:first-child:nth-last-child(5) ~ div:not(:nth-last-of-type(-n+2)), .wi-preview .wip-item:first-child:nth-last-child(6), .wi-preview .wip-item:first-child:nth-last-child(6) ~ div, .wi-preview .wip-item:first-child:nth-last-child(7) ~ div:nth-last-of-type(-n+3) {
    width: 33.333333%;
    padding-bottom: 30%
}

.wi-preview .wip-item:first-child:nth-last-child(5) ~ div:nth-last-of-type(-n+2) {
    width: 50%;
    padding-bottom: 40%
}

.wi-preview .wip-item:first-child:nth-last-child(7), .wi-preview .wip-item:first-child:nth-last-child(7) ~ div:not(:nth-last-of-type(-n+3)), .wi-preview .wip-item:first-child:nth-last-child(n+8), .wi-preview .wip-item:first-child:nth-last-child(n+8) ~ div {
    width: 25%;
    padding-bottom: 22%
}

.wi-preview .wip-item:first-child:nth-last-child(4) ~ div:nth-child(4), .wi-preview .wip-item:only-child {
    width: 100%;
    padding-bottom: 50%
}

.wi-comments {
    background: #F7F7F7
}

.wi-comments .list-group {
    margin-bottom: -10px;
    padding-top: 10px
}

.wic-form {
    padding: 20px 23px
}

.wic-form textarea {
    width: 100%;
    resize: none;
    border: 1px solid #E8E8E8;
    padding: 12px 15px;
    height: 45px
}

.wic-form.toggled textarea {
    height: auto
}

.wic-form.toggled .wicf-actions {
    display: block
}

.wicf-actions {
    margin-top: 10px;
    display: none
}