/*** widget page styles ***/

/****** widget profile-view style *****/
.profile-view {
    text-align: center
}

.profile-view .pv-header {
    position: relative;
    height: 145px;
    width: 100%;
    background-image: url(/img/headers/sm/4.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center
}

.profile-view .pv-header > .pv-main {
    border-radius: 50%;
    width: 130px;
    position: absolute;
    height: 130px;
    bottom: -50px;
    left: 50%;
    margin-left: -65px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.profile-view .pv-body {
    margin-top: 70px;
    padding: 0 20px 20px
}

.profile-view .pv-body > h2 {
    margin: 0;
    line-height: 100%;
    font-size: 20px;
    font-weight: 400
}

.profile-view .pv-body > small {
    display: block;
    color: #8E8E8E;
    margin: 10px 0 15px
}

.profile-view .pv-body .pv-contact, .profile-view .pv-body .pv-follow {
    padding: 0;
    list-style: none
}

.profile-view .pv-body .pv-contact > li, .profile-view .pv-body .pv-follow > li {
    display: inline-block
}

.profile-view .pv-body .pv-contact > li {
    margin: 0 5px
}

.profile-view .pv-body .pv-contact > li > .zmdi {
    line-height: 100%;
    vertical-align: text-bottom;
    font-size: 22px
}

.profile-view .pv-body .pv-follow-btn {
    padding: 7px 20px;
    background: #00BCD4;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    max-width: 200px;
    width: 100%;
    display: inline-block
}

.profile-view .pv-body .pv-follow-btn:hover {
    background: #00a5bb
}

.profile-view:hover .pv-main {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2)
}

/*** widget page picture-list styles ***/
.picture-list .pl-body, .picture-list .pl-body [class*=col-] {
    padding: 2px
}

.picture-list .pl-body [class*=col-] > a {
    display: block
}

.picture-list .pl-body [class*=col-] > a img {
    width: 100%
}

.picture-list .pl-body:after, .picture-list .pl-body:before {
    content: " ";
    display: table
}

.go-social .card-body {
    padding: 0 15px 20px
}

.go-social .card-body [class*=col-] {
    padding: 12px
}

.go-social .card-body [class*=col-] img {
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden
}

.go-social .card-body [class*=col-]:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2)
}

/**** widget page rating-list ***/
.rating-list {
    padding: 0 0 20px
}

.rating-list .rl-star {
    margin-top: 10px;
    margin-bottom: 4px
}

.rating-list .rl-star .zmdi {
    font-size: 20px;
    color: #ccc
}

.rating-list .rl-star .zmdi.active {
    color: #FF9800
}

.rating-list .media .zmdi-star {
    line-height: 100%;
    font-size: 22px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    left: 6px;
    color: #FF9800
}

.rating-list .media .media-body {
    padding: 7px 10px 0 5px
}
