.el-table {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}
.el-table td.is-right,.el-table th.is-right {
    text-align: right
}

.el-table td.is-left,.el-table th.is-left {
    text-align: left
}

.el-table td.is-center,.el-table th.is-center {
    text-align: center
}
.el-table.el-table--border {
    border-left: 1px solid #f5f5f5;
}
.el-table.el-table--border:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px
}

.el-table.el-table--border:after,.el-table.el-table--border:before {
    content: "";
    position: absolute;
    background-color: #f5f5f5;
    z-index: 1
}

.el-table.el-table--border:after {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%
}
.el-table__fixed-body-wrapper .table > tbody > tr > td,
.el-table__fixed-body-wrapper .table > tbody > tr > th,
.el-table__fixed-body-wrapper .table > tfoot > tr > td,
.el-table__fixed-body-wrapper .table > tfoot > tr > th,
.el-table__fixed-body-wrapper .table > thead > tr > td,
.el-table__fixed-body-wrapper .table > thead > tr > th {
    background-color: #fff;
}
.table > tbody > tr > td:first-child {

}
.table > tbody > tr > td.el-table-column--selection:first-child,
.table > tbody > tr > th.el-table-column--selection:first-child,
.table > tfoot > tr > td.el-table-column--selection:first-child,
.table > tfoot > tr > th.el-table-column--selection:first-child,
.table > thead > tr > td.el-table-column--selection:first-child,
.table > thead > tr > th.el-table-column--selection:first-child {
    padding-left: 20px;
}
/*.table-bordered, .table-bordered > tbody > tr > td:last-child, .table-bordered > tbody > tr > th:last-child, .table-bordered > thead > tr > th:last-child {
     border-right: 1px solid #f5f5f5;
}*/


.el-table__body-wrapper,.el-table__header-wrapper {
    width: 100%
}
.el-table__body,.el-table__header {
    table-layout: fixed
}
.el-table__header-wrapper {
    overflow: hidden
}

.el-table__body-wrapper {
    overflow: auto;
    position: relative
}

/** gutter **/
.el-table td.gutter,.el-table th.gutter {
    width: 15px;
    border-right-width: 0;
    border-bottom-width: 0;
    padding: 0
}
.el-table td.gutter {
    width: 0
}
.el-table--fit {
    border-right: 0;
    border-bottom: 0;
}
.el-table--fit td.gutter,.el-table--fit th.gutter {
    border-right-width: 1px
}
.table > thead > tr > th.gutter:last-child {
    padding-right: 0;
}



.el-table thead>tr>th.is-leaf {
    /*border-bottom: 1px solid #f5f5f5;*/
    border-bottom: none;
}

.el-table td.is-hidden>*,.el-table th.is-hidden>* {
    visibility: hidden
}
/** thead **/
.table > thead.thead-default > tr > th {
    color: #464a4c;
    background-color: #f6f6f6;
}
/*
.el-table th>div {
    white-space: nowrap;
    overflow: hidden
}
.el-table th>div {
    display: inline-block;
    padding-left: 18px;
    padding-right: 18px;
    line-height: 40px;
    text-overflow: ellipsis
}
.el-table td>div,.el-table th>div {
    box-sizing: border-box
}

.el-table th.required>div:before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ff4d51;
    margin-right: 5px;
    vertical-align: middle
}
.el-table th>.cell {
    position: relative;
    word-wrap: normal;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    width: 100%;
    box-sizing: border-box
}
.el-table th>.cell.highlight {
    color: #20a0ff
}
.el-table .cell {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    line-height: 24px;
    padding-left: 18px;
    padding-right: 18px
}
*/


/** 排序 **/
.el-table .caret-wrapper {
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-top: -2px;
    width: 16px;
    height: 20px;
    overflow: visible;
    overflow: initial
}
.el-table .sort-caret {
    display: inline-block;
    width: 0;
    height: 0;
    border: 0;
    content: "";
    position: absolute;
    left: 3px;
    z-index: 2
}
.el-table .sort-caret.ascending {
    top: 4px;
    border-top: none;
    border-bottom: 5px solid #97a8be
}
.el-table .sort-caret.ascending,.el-table .sort-caret.descending {
    border-right: 5px solid transparent;
    border-left: 5px solid transparent
}
.el-table .sort-caret.descending {
    bottom: 4px;
    border-top: 5px solid #97a8be;
    border-bottom: none
}
.el-table .ascending .sort-caret.ascending {
    border-bottom-color: #48576a
}
.el-table .descending .sort-caret.descending {
    border-top-color: #48576a
}



.el-table .hidden-columns {
    visibility: hidden;
    position: absolute;
    z-index: -1
}
/*** empty text**/
.el-table__empty-block {
    position: relative;
    min-height: 60px;
    text-align: center;
    width: 100%;
    height: 100%
}
.el-table__empty-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #5e7382
}


/** expand **/
.el-table__expand-icon {
    position: relative;
    cursor: pointer;
    color: #666;
    font-size: 20px;
    transition: transform .2s ease-in-out;
}
.el-table__expand-icon>.zmdi {
    position: absolute;
    left: 50%;
    top: 50%;
    transition: transform .2s ease-in-out;
}
.el-table__expand-icon--expanded .zmdi{
    transform: rotate(90deg)
}
.el-table__expanded-cell {
    padding: 20px 50px;
    background-color: #fbfbfb;
    box-shadow: inset 0 2px 0 #f5f5f5;
}
/*.el-table__expanded-cell:hover {
    background-color: #fbfdff!important
}*/
.el-table__expand-column .cell {
    padding: 0;
    text-align: center
}





/**
.el-table--border td,.el-table--border th {
    border-right: 1px solid #dfe6ec
}

.el-table--border th {
    border-bottom: 1px solid #dfe6ec
}
**/


/** fixed **/
.el-table__fixed,.el-table__fixed-right {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 1px 0 8px #d3d4d6;
    overflow-x: hidden
}
.el-table__fixed-right:before,.el-table__fixed:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #dfe6ec;
    z-index: 4
}
.el-table__fixed-right-patch {
    position: absolute;
    top: -1px;
    right: 0;
    background-color: #eef1f6;
    border-bottom: 1px solid #dfe6ec
}
.el-table__fixed-right {
    top: 0;
    left: auto;
    right: 0;
    box-shadow: -1px 0 8px #d3d4d6
}
.el-table__fixed-right .el-table__fixed-body-wrapper,.el-table__fixed-right .el-table__fixed-header-wrapper {
    left: auto;
    right: 0
}
.el-table__fixed-header-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3
}
.el-table__fixed-header-wrapper thead div {
    /*background-color: #eef1f6;*/
    color: #1f2d3d
}
.el-table__fixed-body-wrapper {
    position: absolute;
    left: 0;
    top: 37px;
    overflow: hidden;
    z-index: 3
}
.el-table--fluid-height .el-table__fixed, .el-table--fluid-height .el-table__fixed-right {
    bottom: 0;
    overflow: hidden;
}


/*
.el-table--striped .el-table__body tr:nth-child(2n) td {
    background: #fafafa;
    background-clip: padding-box
}

.el-table--striped .el-table__body tr:nth-child(2n).current-row td {
    background: #edf7ff
}
*/

/*.el-table__body tr.hover-row>td {
    background-color: #eef1f6
}*/

/*.el-table__body tr.current-row>td {
    background: #edf7ff
}*/



.el-table__column-resize-proxy {
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    width: 0;
    border-left: 1px solid #dfe6ec;
    z-index: 10
}


.el-table--enable-row-transition .el-table__body td {
    transition: background-color .25s ease
}


/** filter **/
.el-table__column-filter-trigger {
    display: inline-block;
    line-height: 20px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 25px;
    position: relative;
    vertical-align: middle;
    margin-top: -8px;
    width: 16px;
    height: 20px;
    overflow: visible;
    overflow: initial;
}
.el-table__column-filter-trigger i {
    color: #97a8be;
}
.el-table-filter {
    /*border: 1px solid #d1dbe5;*/
    border-radius: 2px;
    background-color: #fff;
    /*box-shadow: 0 2px 4px rgba(0,0,0,.12),0 0 6px rgba(0,0,0,.12);*/
    box-shadow:0 2px 6px rgba(0,0,0,.2);
    box-sizing: border-box;
    margin: 2px 0
}
.el-table-filter__list {
    padding: 5px 0;
    margin: 0;
    list-style: none;
    min-width: 100px
}
.el-table-filter__list-item {
    line-height: 36px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 14px
}
.el-table-filter__list-item:hover {
    background-color: #e4e8f1;
    color: #48576a
}
.el-table-filter__list-item.is-active {
    background-color: #20a0ff;
    color: #fff
}
.el-table-filter__content {
    min-width: 100px
}
.el-table-filter__bottom {
    border-top: 1px solid #f0f0f0;
    padding: 8px
}
.el-table-filter__bottom button {
    background: transparent;
    border: none;
    color: #8391a5;
    cursor: pointer;
    font-size: 14px;
    padding: 0 3px
}
.el-table-filter__bottom button:hover {
    color: #20a0ff
}
.el-table-filter__bottom button:focus {
    outline: none
}
.el-table-filter__bottom button.is-disabled {
    color: #bfcbd9;
    cursor: not-allowed
}
.el-table-filter__checkbox-group {
    padding: 10px
}
.el-table-filter__checkbox-group .checkbox {
    display: block;
    margin-bottom: 8px;
    margin-left: 5px
}
.el-table-filter__checkbox-group .checkbox:last-child {
    margin-bottom: 0
}


.el-table__fixed-footer-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3
}

.el-table__fixed-footer-wrapper tbody td {
    border-top: 1px solid #dfe6ec;
    background-color: #fbfdff;
    color: #1f2d3d
}

.el-table__footer-wrapper {
    width: 100%
}

.el-table__footer-wrapper {
    margin-top: -1px
}

.el-table__footer-wrapper td {
    border-top: 1px solid #dfe6ec
}

.el-table__body, .el-table__footer {
    table-layout: fixed
}

.el-table__footer-wrapper thead div {
    background-color: #eef1f6;
    color: #1f2d3d
}

.el-table__footer-wrapper tbody td {
    background-color: #fbfdff;
    color: #1f2d3d
}


.el-table .el-tooltip.cell {
    white-space: nowrap
}




