@charset "UTF-8";
.el-select {
    display: inline-block;
    position: relative
}

.el-select .form-control {
    cursor: pointer;
}

.el-select > .fg-line {
    display: block
}

.el-select .i-tag {
    height: 24px;
    line-height: 24px;
    margin: 3px 0 3px 6px;
}

.el-select__input {
    border: none;
    outline: 0;
    padding: 0;
    margin-left: 10px;
    color: #666;
    font-size: 14px;
    vertical-align: baseline;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 28px;
    background-color: transparent
}

.el-select__input.is-mini {
    height: 14px
}

.el-select-dropdown,
.el-select-dropdown__item {
    box-sizing: border-box
}

.el-select-dropdown__item {
    font-size: 12px;
    padding: 7px 16px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #657180;
    height: 28px;
    list-style: none;
    line-height: 1.5;
    cursor: pointer
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover,
.el-select-dropdown__item.focused {
    background-color: #f3f3f3
}

.el-select-dropdown__item.selected {
    color: #fff;
    background-color: #20a0ff
}

.el-select-dropdown__item.selected.hover {
    background-color: #1c8de0
}

.el-select-dropdown__item span {
    line-height: 1.5 !important
}

.el-select-dropdown__item.is-disabled {
    color: #c3cbd6;
    cursor: not-allowed
}

.el-select-dropdown__item.is-disabled:hover {
    color: #c3cbd6;
    background-color: #fff;
    cursor: not-allowed
}

.el-select-group {
    margin: 0;
    padding: 0
}

.el-select-group .el-select-dropdown__item {
    padding-left: 20px
}

.el-select-group__wrap {
    list-style: none;
    margin: 0;
    padding: 0
}

.el-select-group__title {
    padding-left: 10px;
    font-size: 12px;
    color: #999;
    height: 28px;
    line-height: 28px
}

.el-select__tags {
    position: absolute;
    line-height: normal;
    white-space: normal;
    z-index: 1;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.el-select .fg-line.with-icon .input-icon {
    position: absolute;
    right: 10px;
    bottom: 50%;
    margin-bottom: -9px;
    font-size: 18px;
    color: #BFACA5;
}

.el-select .fg-line .input-icon.is-reverse {
    -ms-transform: rotate(180deg);
    transform: rotateZ(180deg);
}

.el-select .form-control[readonly]{
    background-color: transparent;
}

.el-select .form-control[disabled]{
    background-color: #f3f3f3;
    cursor: not-allowed
}
