.radio-group-button .radio .input-helper {
    opacity: 0;
}

.radio-group-button {
    font-size: 0;
}

.radio-group-button .radio {
    padding-left:0;
    margin-left: 0;
}

.radio-group-button .radio {
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    height: 32px;
    line-height: 30px;
    margin: 0;
    padding: 0 16px;
    font-size: 12px;
    color: #1f2d3d;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    cursor: pointer;
    border: 1px solid #bfcbd9;
    border-left: 0;
    background: #fff;
}

.radio-group-button .radio:first-child {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid #d7dde4;
}

.radio-group-button .radio:last-child {
    border-radius: 0 4px 4px 0;
}

.radio-group-button .radio.checked {
    color:#fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    box-shadow: -1px 0 0 0 #20a0ff;
}

.radio-group-button .radio.checked:first-child {
    border-color: #39f;
    box-shadow: none!important;
}

.radio-group-button .radio.disabled {
    color: #bfcbd9;
    cursor: not-allowed;
    background-image: none;
    background-color: #eef1f6;
    border-color: #d1dbe5;
    box-shadow: none;
}

.radio-group-button .radio.disabled:hover {
    color:#bfcbd9;
}

.radio-group-button .radio:hover {
    position: relative;
    color: #20a0ff;
}

.radio-group-button .radio.checked:hover {
    /*border-color: #5cadff;
    box-shadow: -1px 0 0 0 #5cadff;
    color: #5cadff;*/
    color:#fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    box-shadow: -1px 0 0 0 #20a0ff;
}

.radio-group-button .radio.checked.disabled {
    color: #fff;
    background-color: #e6e6e6;
    border-color: #d7dde4;
    box-shadow: none!important;
}

.radio-group-button.radio-group-lg .radio {
    height: 36px;
    line-height: 34px;
    font-size: 14px
}

.radio-group-button.radio-group-sm .radio {
    height: 24px;
    line-height: 22px;
    padding: 0 12px;
    font-size: 12px
}

.radio-group-button.radio-group-sm .radio:first-child {
    border-radius: 3px 0 0 3px;
}

.radio-group-button.radio-group-sm .radio:last-child {
    border-radius: 0 3px 3px 0
}
