*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: roboto;
    font-size: 13px;
    line-height: 1.42857143;
    color: #5E5E5E;
    background-color: #f3f3f3
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #2196F3;
    text-decoration: none
}

a:focus, a:hover {
    color: #0a6ebd;
    text-decoration: none
}

a:focus {
    outline-offset: -2px;
    outline: 0 !important
}

figure {
    margin: 0
}

img {
    vertical-align: middle
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive, .thumbnail a > img,
.thumbnail > img {
    display: block;
    max-width: 100%;
    height: auto
}

.img-rounded {
    border-radius: 2px
}

.img-thumbnail {
    padding: 3px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #EDEDED;
    border-radius: 2px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto
}

.img-circle {
    border-radius: 50%
}

hr {
    margin-top: 18px;
    margin-bottom: 18px;
    border: 0;
    border-top: 1px solid #eee
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

[role=button] {
    cursor: pointer
}