.fade-appear, .fade-enter-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.fade-leave-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.fade-appear, .fade-enter-active {
    animation-name: fadeIn;
    animation-play-state: running
}

.fade-leave-active {
    animation-name: fadeOut;
    animation-play-state: running
}

.fade-appear, .fade-enter-active {
    opacity: 0;
    animation-timing-function: linear
}

.fade-leave-active {
    animation-timing-function: linear
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.move-up-appear, .move-up-enter-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.move-up-leave-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.move-up-appear, .move-up-enter-active {
    animation-name: moveUpIn;
    animation-play-state: running
}

.move-up-leave-active {
    animation-name: moveUpOut;
    animation-play-state: running
}

.move-up-appear, .move-up-enter-active {
    opacity: 0;
    animation-timing-function: ease-in-out
}

.move-up-leave-active {
    animation-timing-function: ease-in-out
}

.move-down-appear, .move-down-enter-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.move-down-leave-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.move-down-appear, .move-down-enter-active {
    animation-name: moveDownIn;
    animation-play-state: running
}

.move-down-leave-active {
    animation-name: moveDownOut;
    animation-play-state: running
}

.move-down-appear, .move-down-enter-active {
    opacity: 0;
    animation-timing-function: ease-in-out
}

.move-down-leave-active {
    animation-timing-function: ease-in-out
}

.move-left-appear, .move-left-enter-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.move-left-leave-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.move-left-appear, .move-left-enter-active {
    animation-name: moveLeftIn;
    animation-play-state: running
}

.move-left-leave-active {
    animation-name: moveLeftOut;
    animation-play-state: running
}

.move-left-appear, .move-left-enter-active {
    opacity: 0;
    animation-timing-function: ease-in-out
}

.move-left-leave-active {
    animation-timing-function: ease-in-out
}

.move-right-appear, .move-right-enter-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.move-right-leave-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.move-right-appear, .move-right-enter-active {
    animation-name: moveRightIn;
    animation-play-state: running
}

.move-right-leave-active {
    animation-name: moveRightOut;
    animation-play-state: running
}

.move-right-appear, .move-right-enter-active {
    opacity: 0;
    animation-timing-function: ease-in-out
}

.move-right-leave-active {
    animation-timing-function: ease-in-out
}

@keyframes moveDownIn {
    0% {
        transform-origin: 0 0;
        transform: translateY(100%);
        opacity: 0
    }
    100% {
        transform-origin: 0 0;
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes moveDownOut {
    0% {
        transform-origin: 0 0;
        transform: translateY(0);
        opacity: 1
    }
    100% {
        transform-origin: 0 0;
        transform: translateY(100%);
        opacity: 0
    }
}

@keyframes moveLeftIn {
    0% {
        transform-origin: 0 0;
        transform: translateX(-100%);
        opacity: 0
    }
    100% {
        transform-origin: 0 0;
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes moveLeftOut {
    0% {
        transform-origin: 0 0;
        transform: translateX(0);
        opacity: 1
    }
    100% {
        transform-origin: 0 0;
        transform: translateX(-100%);
        opacity: 0
    }
}

@keyframes moveRightIn {
    0% {
        opacity: 0;
        transform-origin: 0 0;
        transform: translateX(100%)
    }
    100% {
        opacity: 1;
        transform-origin: 0 0;
        transform: translateX(0)
    }
}

@keyframes moveRightOut {
    0% {
        transform-origin: 0 0;
        transform: translateX(0);
        opacity: 1
    }
    100% {
        transform-origin: 0 0;
        transform: translateX(100%);
        opacity: 0
    }
}

@keyframes moveUpIn {
    0% {
        transform-origin: 0 0;
        transform: translateY(-100%);
        opacity: 0
    }
    100% {
        transform-origin: 0 0;
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes moveUpOut {
    0% {
        transform-origin: 0 0;
        transform: translateY(0);
        opacity: 1
    }
    100% {
        transform-origin: 0 0;
        transform: translateY(-100%);
        opacity: 0
    }
}


.move-notice-appear, .move-notice-enter-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.move-notice-leave-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.move-notice-appear, .move-notice-enter-active {
    animation-name: ivuMoveNoticeIn;
    animation-play-state: running
}

.move-notice-leave-active {
    animation-name: ivuMoveNoticeOut;
    animation-play-state: running
}

.move-notice-appear, .move-notice-enter-active {
    opacity: 0;
    animation-timing-function: ease-in-out
}

.move-notice-leave-active {
    animation-timing-function: ease-in-out
}

@keyframes ivuMoveNoticeIn {
    0% {
        opacity: 0;
        transform-origin: 0 0;
        transform: translateX(100%)
    }
    100% {
        opacity: 1;
        transform-origin: 0 0;
        transform: translateX(0)
    }
}

@keyframes ivuMoveNoticeOut {
    0% {
        transform-origin: 0 0;
        transform: translateX(0);
        opacity: 1
    }
    70% {
        transform-origin: 0 0;
        transform: translateX(100%);
        height: auto;
        padding: 16px;
        margin-bottom: 10px;
        opacity: 0
    }
    100% {
        transform-origin: 0 0;
        transform: translateX(100%);
        height: 0;
        padding: 0;
        margin-bottom: 0;
        opacity: 0
    }
}

.notification-fade-enter {
    transform: translateX(100%);
    right: 0
}

.notification-fade-leave-active {
    opacity: 0
}

.ease-appear, .ease-enter-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.ease-leave-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.ease-appear, .ease-enter-active {
    animation-name: easeIn;
    animation-play-state: running
}

.ease-leave-active {
    animation-name: easeOut;
    animation-play-state: running
}

.ease-appear, .ease-enter-active {
    opacity: 0;
    animation-timing-function: linear;
    animation-duration: .2s
}

.ease-leave-active {
    animation-timing-function: linear;
    animation-duration: .2s
}

@keyframes easeIn {
    0% {
        opacity: 0;
        transform: scale(.9)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes easeOut {
    0% {
        opacity: 1;
        transform: scale(1)
    }
    100% {
        opacity: 0;
        transform: scale(.9)
    }
}

.slide-up-appear, .slide-up-enter-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.slide-up-leave-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.slide-up-appear, .slide-up-enter-active {
    animation-name: slideUpIn;
    animation-play-state: running
}

.slide-up-leave-active {
    animation-name: slideUpOut;
    animation-play-state: running
}

.slide-up-appear, .slide-up-enter-active {
    opacity: 0;
    animation-timing-function: ease-in-out
}

.slide-up-leave-active {
    animation-timing-function: ease-in-out
}

.slide-down-appear, .slide-down-enter-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.slide-down-leave-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.slide-down-appear, .slide-down-enter-active {
    animation-name: slideDownIn;
    animation-play-state: running
}

.slide-down-leave-active {
    animation-name: slideDownOut;
    animation-play-state: running
}

.slide-down-appear, .slide-down-enter-active {
    opacity: 0;
    animation-timing-function: ease-in-out
}

.slide-down-leave-active {
    animation-timing-function: ease-in-out
}

.slide-left-appear, .slide-left-enter-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.slide-left-leave-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.slide-left-appear, .slide-left-enter-active {
    animation-name: slideLeftIn;
    animation-play-state: running
}

.slide-left-leave-active {
    animation-name: slideLeftOut;
    animation-play-state: running
}

.slide-left-appear, .slide-left-enter-active {
    opacity: 0;
    animation-timing-function: ease-in-out
}

.slide-left-leave-active {
    animation-timing-function: ease-in-out
}

.slide-right-appear, .slide-right-enter-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.slide-right-leave-active {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused
}

.slide-right-appear, .slide-right-enter-active {
    animation-name: slideRightIn;
    animation-play-state: running
}

.slide-right-leave-active {
    animation-name: slideRightOut;
    animation-play-state: running
}

.slide-right-appear, .slide-right-enter-active {
    opacity: 0;
    animation-timing-function: ease-in-out
}

.slide-right-leave-active {
    animation-timing-function: ease-in-out
}

@keyframes slideUpIn {
    0% {
        opacity: 0;
        transform-origin: 0 0;
        transform: scaleY(.8)
    }
    100% {
        opacity: 1;
        transform-origin: 0 0;
        transform: scaleY(1)
    }
}

@keyframes slideUpOut {
    0% {
        opacity: 1;
        transform-origin: 0 0;
        transform: scaleY(1)
    }
    100% {
        opacity: 0;
        transform-origin: 0 0;
        transform: scaleY(.8)
    }
}

@keyframes slideDownIn {
    0% {
        opacity: 0;
        transform-origin: 100% 100%;
        transform: scaleY(.8)
    }
    100% {
        opacity: 1;
        transform-origin: 100% 100%;
        transform: scaleY(1)
    }
}

@keyframes slideDownOut {
    0% {
        opacity: 1;
        transform-origin: 100% 100%;
        transform: scaleY(1)
    }
    100% {
        opacity: 0;
        transform-origin: 100% 100%;
        transform: scaleY(.8)
    }
}

@keyframes slideLeftIn {
    0% {
        opacity: 0;
        transform-origin: 0 0;
        transform: scaleX(.8)
    }
    100% {
        opacity: 1;
        transform-origin: 0 0;
        transform: scaleX(1)
    }
}

@keyframes slideLeftOut {
    0% {
        opacity: 1;
        transform-origin: 0 0;
        transform: scaleX(1)
    }
    100% {
        opacity: 0;
        transform-origin: 0 0;
        transform: scaleX(.8)
    }
}

@keyframes slideRightIn {
    0% {
        opacity: 0;
        transform-origin: 100% 0;
        transform: scaleX(.8)
    }
    100% {
        opacity: 1;
        transform-origin: 100% 0;
        transform: scaleX(1)
    }
}

@keyframes slideRightOut {
    0% {
        opacity: 1;
        transform-origin: 100% 0;
        transform: scaleX(1)
    }
    100% {
        opacity: 0;
        transform-origin: 100% 0;
        transform: scaleX(.8)
    }
}


/*** vertical menu collapse animation***/
.collapse-transition {
    transition: height .3s ease-in-out,padding-top .3s ease-in-out,padding-bottom .3s ease-in-out
}

.zoom-in-top-enter-active, .zoom-in-top-leave-active {
    opacity: 1;
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    transition: transform .3s cubic-bezier(.23, 1, .32, 1) .1s, opacity .3s cubic-bezier(.23, 1, .32, 1) .1s;
    -ms-transform-origin: center top;
    transform-origin: center top
}

.zoom-in-top-enter, .zoom-in-top-leave-active {
    opacity: 0;
    -ms-transform: scaleY(0);
    transform: scaleY(0)
}

.dialog-fade-enter-active {
    animation: dialog-fade-in .3s
}

.dialog-fade-leave-active {
    animation: dialog-fade-out .3s
}

@keyframes dialog-fade-in {
    0% {
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes dialog-fade-out {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
    100% {
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }
}