/**** typography page style *****/
.clist {
    list-style: none
}

.clist > li:before {
    font-family: Material-Design-Iconic-Font;
    margin: 0 10px 0 -20px;
    vertical-align: middle
}

.clist.clist-angle > li:before {
    content: "\f2fb"
}

.clist.clist-check > li:before {
    content: "\f26b"
}

.clist.clist-star > li:before {
    content: "\f27d"
}